/********************************************************************
***************** concerne le style du composant "NavBar"************
*********************************************************************/

//import des fichiers util
@import "../../utils/colors-rule/colors-rule.scss";
@import "../../utils/mixins/responsive/responsive.scss";

.nav-bar {
  position: relative;
  z-index: 10; // permet de passer au dessus du container parallax page index
  padding: 8px 0px 5px 0px; //correction aberation centrage
}

.nav-bar::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: map-get($colors-rule, sixth-color);
}

.container-logo {
  flex: 0 1 auto;
}

.logo-coaching-svg {
  width: 150px;
  height: fit-content;
  margin-right: 50px;

  @include upper-medium-screen {
    width: 200px;
  }

  @include upper-large-screen {
    width: 250px;

    margin-left: 20px;
  }

  @include upper-x-large-screen {
    width: 300px;

    margin-left: 100px;
  }


}

.logo-burger-svg {
  svg {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    fill: map-get($colors-rule, second-color);

    @include upper-medium-screen {
      width: 60px;
      height: 60px;
    }
  }
}

.icon-close-svg {
  svg {
    width: 40px;
    height: 40px;
    fill: map-get($colors-rule , third-color);
    box-shadow: 0 0 5px 1px map-get($colors-rule, third-color);
    border-radius: 5px;
  }
}

.container-nav {
  flex: 1 0 auto;
  //border: 2px solid red;
}

.container-link-li {
  position: relative;
  height: 40px;
  margin-right: 40px;
  min-width: 50px;
  //border: 2px solid green;
  overflow: hidden;

  & .nav-link {
    position: relative;
    //padding: 5px 0px;
    //border-bottom: 4px solid blue;
    font-size: 18px;
    color: map-get($colors-rule, first-color);



    @include upper-large-screen {
      font-size: 18px;
    }
  }

  //transition au durvol des liens

  & .nav-link::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid map-get($colors-rule, fourth-color);
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.2s ease-in-out 0s, opacity 0s linear 0.3s;
  }

  & .nav-link:hover::after {
    opacity: 1;
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;

  }
}

//style appliquer au lien de la page courante (via js)
.indicator {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid map-get($colors-rule, second-color);
  transform: translateY(2px); //correction de superposirion avec pseudo element du lien concerné
  opacity: 0;


}

.active {
  opacity: 1;

}

//concerne le menu lang contenu dans nav link
.container-lang {
  position: relative;
  height: 50px;
  margin-right: 40px;
  width: fit-content;
  //border: 2px solid orange;
}


.list-lang {
  position: absolute;
  z-index: 2;
  top: 100%;
  right: 0px;
  width: 100px;
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
  transform: translateX(100%);
  transition:
    opacity 150ms ease-in-out 0.1s,
    transform 0.2s ease-in-out 0s,
    max-height 0.2s ease-in-out 0.2s,
    padding 0.2s ease-in-out 0.2s;
  //border: 2px solid blue;
  background-color: map-get($colors-rule, sixth-color);
}

.container-lang:hover .list-lang {
  transform: translateX(0%);
  opacity: 1;
  max-height: 40px;
  padding: 10px;
  height: 100%;
  transition: opacity 0.2ms ease-in-out 0s, transform 0.3s ease-in-out 0s;
}

.list-lang-li-a {
  position: relative;
  color: map-get($colors-rule, first-color);
  font-size: 1em;


}



.list-lang-li-a:hover {
  color: map-get($colors-rule, fourth-color);
}





#icon-language {
  fill: map-get($colors-rule, first-color);

  width: 24px;
  height: 24px;
}

.menu-burger {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
  transition: width 300ms ease-in-out;

  .burger-menu-list {
    margin-top: 50px;
    opacity: 0;
    transform: translateX(-30%);
  }

  &.close .burger-menu-list {
    transition: transform 200ms linear, opacity 100ms ease-in-out;
  }

  &.open .burger-menu-list {
    transform: translateX(0%);
    opacity: 1;
    transition: transform 300ms ease-in-out 200ms, opacity 500ms linear 200ms;
  }

  .burger-menu-li {
    position: relative;
    z-index: 1;
    margin: 10px 0px 10px 40px;
    min-width: 50px;
    min-height: 50px;
  }

  .burger-menu-li::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: map-get($colors-rule, first-color);
    opacity: 0;
  }

  .burger-menu-li:active::after {
    opacity: 1;
  }

  .burger-menu-li-a {
    color: map-get($colors-rule, second-color);
    font-size: 18px;
  }

  .burger-menu-li:first-child {
    position: absolute;
    top: -50px;
    right: 20px;
  }
}

.menu-burger::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: map-get($colors-rule, fifth-color);
  z-index: -1;
  opacity: 1;
}

.open {
  width: 300px;
  height: 100%;
  transition: width 300ms ease-in-out;
  opacity: 1;
}

.close {
  width: 0px;
  height: 100%;
  transition: width 300ms ease-in-out;
  opacity: 1;
}



//concerne le menu lang dans le menu burger
.burger-menu-lang {
  margin: 10px 40px;

  .burger-menu-lang-li {
    position: relative;
    z-index: 1;
    min-width: 50px;
    min-height: 50px;
    margin-right: 10px;
    //border: 2px solid red;
  }

  .burger-menu-lang-li::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: map-get($colors-rule, first-color);
    opacity: 0;
  }

  .burger-menu-lang-li:active::after {
    opacity: 1;
  }

  .burger-menu-lang-li-a {
    font-size: 18px;
    padding: 0px 5px;
    border-left: 1px solid map-get($colors-rule, second-color);
    border-right: 1px solid map-get($colors-rule, second-color);
    //border: 2px solid blue;
    color: map-get($colors-rule, second-color);
  }
}