/*******************************************************************************
******************** class css *************************************************
**********************************************************************************/

//fichier outil

@import "../../utils/colors-rule/colors-rule.scss";
@import "../../utils/mixins/responsive/responsive.scss";

/****************************************************************************************
/********  **************** flex box **************** ******************/
/****start******************************************************************************/

//row
.flex-row-start-center {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-center-center {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.flex-row-space-evenly-center {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.flex-row-space-evenly-center-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.flex-row-space-evenly-start {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

//column

.flex-column-start-center {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-start-start {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-column-center-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/****************************************************************************************
/********  **************** flex box **************** ******************/
/**** end ******************************************************************************/

/**** start ********************** color ***********************************************/
/****************************************************************************************
/****************************************************************************************/

// text color
.text-first {
  color: map-get($colors-rule, first-color);
}
.text-second {
  color: map-get($colors-rule, second-color);
}
.text-third {
  color: map-get($colors-rule, third-color);
}
.text-fourth {
  color: map-get($colors-rule, fourth-color);
}
.text-fifth {
  color: map-get($colors-rule, fifth-color);
}
.text-sixth {
  color: map-get($colors-rule, sixth-color);
}
.text-seventh {
  color: map-get($colors-rule, seventh-color);
}

//bg-color
.bg-first {
  background-color: map-get($colors-rule, first-color);
}
.bg-second {
  background-color: map-get($colors-rule, second-color);
}
.bg-third {
  background-color: map-get($colors-rule, third-color);
}
.bg-fourth {
  background-color: map-get($colors-rule, fourth-color);
}
.bg-fifth {
  background-color: map-get($colors-rule, fifth-color);
}
.bg-sixth {
  background-color: map-get($colors-rule, sixth-color);
}
.bg-seventh {
  background-color: map-get($colors-rule, seventh-color);
}

/**** start ********************** color ***********************************************/
/****************************************************************************************
/****************************************************************************************/

/**** start **********************formulaire***********************************************/
/****************************************************************************************
/****************************************************************************************/
.form-text-error {
  color: map-get($colors-rule, third-color);
}

.form-border-error {
  border: 1px solid map-get($colors-rule, third-color);
}

.form-border-valid {
  border: 1px solid map-get($colors-rule, second-color);
}

.form-bg-button-enabled {
  background-color: map-get($colors-rule, second-color);
}

.form-bg-button-unebled {
  background-color: map-get($colors-rule, second-color);
  opacity: 0.7;
}

.input {
  border: 1px solid map-get($colors-rule, sixth-color);
  padding: 0.5em;
}

.btn-submit {
  padding: 0.5em;
  margin: 1.5em;
  border-radius: 1em;
}

/********  ****************  formulaire ************ ******************/
/**** end ******************************************************************************/
/****************************************************************************************





/****************************************************************************************
/********  **************** container-page   **************** ******************/
/**** start ******************************************************************************/

.container-page {
  max-width: 1500px;
  min-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

/****************************************************************************************
/********  **************** container-page  **************** ******************/
/**** end ******************************************************************************/
