@import "../../utils/colors-rule/colors-rule.scss";
@import "../../utils/mixins/responsive/responsive.scss";

.card-article-container {
  position: relative;
  width: 100%;

   
}

.hide-list{
  display: none;

}

.btn-container{
  width: 100%;

}
.btn-display-article, .btn-update-article {

    padding: 20px;
    border: 1px solid map-get($colors-rule, first-color);
    color: map-get($colors-rule, first-color);
    text-align: center;
    background-color:map-get($colors-rule, sixth-color);

    margin: 50px 0px;
    
    &:hover{
      background-color:darken(map-get($colors-rule, sixth-color),10%);
      cursor: pointer;
    }
  }
