@import "../../utils/colors-rule/colors-rule.scss";
@import "../../utils/mixins/responsive/responsive.scss";


//conteneur du caroussel
.card-testimonial-container {
    width: 100%;
   //border: 2px solid red;
}

.testimonial-slider,
.container-chevron {
    width: 400px;
    height: 700px;
    //border: 2px solid green;
    overflow-x: scroll;
    

    @include upper-medium-screen {
        width: 500px;

    }

    @include upper-large-screen {
        width: 600px;
        
    }
    
    @include upper-x-large-screen {
        height: 600px;
        width: 700px;

    }
}

.container-chevron {
    height: fit-content;
    //border: 2px solid green;
    overflow-x: unset;
    z-index: 10;
    top:150px;
   
}

.btn-arrow{
    position:relative;
    z-index: 10;
    border-radius: 50%;
    cursor: pointer;

}


.btn-arrow::after{
    content: "";
    position:absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.3;
}

.btn-arrow:not([disabled]):hover::after {
    background-color: map-get($colors-rule, second-color);
}

.btn-arrow:focus::after{
    background-color: map-get($colors-rule, second-color);

}

.btn-arrow[disabled]{
    opacity: 0.3;
    cursor: not-allowed;
    //background-color: black;
}


.testimonial-chevron {
    width: 60px;
    height: 60px;
    fill:map-get($colors-rule, first-color);
 
}