//feuille de style composant "formChangePassword"

//import des fichier de style
@import "../utils/colors-rule/colors-rule.scss";
@import "../utils/breakpoint/breakpoint.scss";

.form {
  fieldset {
    width: 100%;
    .legend {
      padding: 1em;
      font-size: 1.2em;
      font-weight: 600;
    }
  }
  width: 500px;
  //border: 2px solid red;
  overflow: hidden;

  .cont-input-label {
    width: 100%;
    margin-top: 2em;
    //border: 3px solid blue;
  }

  .cont-input-span {
    border: 1px solid black;

    span {
      margin-right: 1em;
    }
  }

  .input {
    margin-top: 0.5em;
    width: 100%;
    padding: 1em;
  }

  .btn-submit {
    margin-top: 2em;
    padding: 1em;
    width: 100%;
    background-color: map-get($colors-rule, first-color);
    text-align: center;
  }
}
