.main-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 0px auto;
  padding: 1em;
  border: 1px solid black;

  width: 40%;
  box-shadow: 0 0 5px 0px;

  & ul {
    list-style-type: none;
    border: 2px solid red;
  }
}
