.articleN {
  position: relative;
  z-index: 1;
  padding: 15px;
  margin: 50px 0px 150px 0px;
  overflow: hidden;
}
@media screen and (min-width: 993px) {
  .articleN {
    padding: 20px;
    width: 70%;
  }
}
@media screen and (min-width: 1501px) {
  .articleN {
    width: 60%;
  }
}

.articleN::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #1ba4e3;
  /*  border-top-left-radius: 30%;
   border-top-right-radius: 10%;
   border-bottom-left-radius: 40%; 
   border-bottom-right-radius: 20%;  */
  opacity: 0.1;
}

/* .div-deco{
    position: absolute;

}
.div-deco-size-1{
    width: 100px;
    height: 100px;
}
.div-deco-size-2{
    width: 200px;
    height: 200px;
}
.div-deco-color-first{

    background-color: map-get($colors-rule, first-color);
}
.div-deco-color-second{

    background-color: map-get($colors-rule, second-color);
}
.div-deco-color-third{

    background-color: map-get($colors-rule, third-color);
}
.div-deco-color-fourth{

    background-color: map-get($colors-rule, fourth-color);
} */
.articleN-h1 {
  position: relative;
  z-index: 1;
  color: #fbfffe;
  margin: 50px 0px;
  overflow: hidden;
}
.articleN-h1::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #1ba4e3;
  opacity: 0.5;
}
.articleN-h1::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #9cd008;
  opacity: 1;
}

/* concenen le menu flotant*/
.container-menu-side {
  position: fixed;
  left: 20px;
  top: 100px;
}
@media screen and (min-width: 1501px) {
  .container-menu-side {
    left: 3%;
    opacity: 1;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
  }
}
.container-menu-side .title-menu-side {
  color: #1ba4e3;
  font-size: 20px;
}

.transition-opacity {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.menu-side {
  width: 200px;
}
@media screen and (min-width: 1501px) {
  .menu-side {
    width: 250px;
  }
}
.menu-side .menu-side-li {
  list-style-type: disc;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px 0px;
  border-left: 0px solid #1ba4e3;
  -webkit-transition: border-left linear 0.2s;
  transition: border-left linear 0.2s;
  cursor: pointer;
}
.menu-side .menu-side-li:hover {
  border-left: 5px solid #1ba4e3;
  -webkit-transition: border-left linear 0.3s;
  transition: border-left linear 0.3s;
}
.menu-side .menu-side-li-a {
  display: block;
  font-style: oblique;
  color: #001747;
  padding-left: 10px;
}
.menu-side .menu-side-li-retour {
  margin-top: 20px;
  padding: 10px;
  background-color: #1ba4e3;
  cursor: pointer;
  -webkit-transition: background-color linear 0.2s;
  transition: background-color linear 0.2s;
}
.menu-side .menu-side-li-retour:hover {
  background-color: #1683b5;
  -webkit-transition: background-color linear 0.3s;
  transition: background-color linear 0.3s;
}
.menu-side .menu-side-li-retour-a {
  display: block;
  color: #fbfffe;
  text-align: center;
}

.articleN-info {
  margin: 10px 0px;
  width: 90%;
}
@media screen and (min-width: 769px) {
  .articleN-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
}
@media screen and (min-width: 993px) {
  .articleN-info {
    width: 70%;
  }
}

.articleN-name,
.articleN-date,
.articleN-time {
  margin: 10px 0px;
  padding: 0px 15px;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.articleN-split {
  width: 70%;
  padding-bottom: 10px;
}

.articleN-image {
  border-radius: 10px;
  margin: 20px 0px;
  width: 90%;
   max-width: 600px;
    max-height: 400px;
    object-fit: cover;
}
@media screen and (min-width: 993px) {
  .articleN-image {
    width: 80%;
  }
}

#img-1 {
  max-width: 600px;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.articleN-introduction {
  line-height: 180%;
  font-size: 20px;
  font-style: italic;
  margin: 20px 0px;
}

.articleN-h2 {
  color: #171717;
  margin: 40px 0px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-left: 5px solid #9cd008;
  border-right: 5px solid #9cd008;
  padding: 0px 20px;
}

.articleN-h3 {
  color: #779f06;
}

.articleN-text {
  line-height: 150%;
  margin: 10px 0px;
  opacity: 0.8;
  font-size: 18px;
}

.definition {
  margin: 40px 0px;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid #9cd008;
  -webkit-backdrop-filter: brightness(60%);
          backdrop-filter: brightness(60%);
}

.lieu-des-prestations {
  position: relative;
  z-index: 1;
  color: #fbfffe;
  font-size: 18px;
  padding: 20px;
  min-height: 200px;
  line-height: 150%;
  margin: 50px 0px;
}
@media screen and (min-width: 993px) {
  .lieu-des-prestations {
    font-size: 25px;
  }
}

.lieu-des-prestations::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #001747;
}