.card-resume {
  position: relative;
  z-index: 1;
  padding: 10px;
  border-radius: 20px;
  max-width: 500px;
}
.card-resume .resume-title {
  padding: 10px 0px;
  color: #fbfffe;
}
.card-resume .resume-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #fbfffe;
  margin-right: 50px;
}
.card-resume .resume-info {
  margin-top: 10px;
  color: #fbfffe;
}
.card-resume .email:hover, .card-resume .linkedin-icon:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #fbfffe;
          box-shadow: 0px 0px 10px 0px #fbfffe;
}
.card-resume .logo-linkedin {
  width: 35px;
  height: 35px;
}
.card-resume .logo-linkedin #text {
  fill: white;
}
.card-resume .logo-linkedin #bg {
  fill: white;
}
.card-resume .resume-footer {
  position: relative;
}
.card-resume .resume-footer-link {
  display: block;
  margin: 20px auto;
  width: 70%;
  font-size: 20px;
  color: #fbfffe;
  -webkit-animation: colorText 5s linear 0s infinite alternate;
          animation: colorText 5s linear 0s infinite alternate;
}
@-webkit-keyframes colorText {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  95% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
@keyframes colorText {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  95% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.card-resume::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #1ba4e3;
  opacity: 0.9;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 5px 1px;
          box-shadow: 0px 0px 5px 1px;
}