.card-testimonial-container {
  width: 100%;
}

.testimonial-slider,
.container-chevron {
  width: 400px;
  height: 700px;
  overflow-x: scroll;
}
@media screen and (min-width: 769px) {
  .testimonial-slider,
  .container-chevron {
    width: 500px;
  }
}
@media screen and (min-width: 993px) {
  .testimonial-slider,
  .container-chevron {
    width: 600px;
  }
}
@media screen and (min-width: 1501px) {
  .testimonial-slider,
  .container-chevron {
    height: 600px;
    width: 700px;
  }
}

.container-chevron {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: unset;
  z-index: 10;
  top: 150px;
}

.btn-arrow {
  position: relative;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
}

.btn-arrow::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.3;
}

.btn-arrow:not([disabled]):hover::after {
  background-color: #1ba4e3;
}

.btn-arrow:focus::after {
  background-color: #1ba4e3;
}

.btn-arrow[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}

.testimonial-chevron {
  width: 60px;
  height: 60px;
  fill: #001747;
}