.card-prestation {
  position: relative;
  z-index: 1;
  padding: 10px;
  width: 100%;
  margin: 50px 0px;
}
@media screen and (min-width: 769px) {
  .card-prestation {
    max-width: 600px;
  }
}

.card-prestation::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  border-radius: 10px;
}

.coaching-life::after {
  background: linear-gradient(-45deg, #1ba4e3, #fbfffe);
}

.coaching-cariere::after {
  background: linear-gradient(-45deg, #ff6e00, #fbfffe);
}

.coaching-entreprise::after {
  background: linear-gradient(-45deg, #9cd008, #fbfffe);
}

.card-prestation-title {
  position: relative;
  z-index: 1;
  top: -40px;
  left: 0%;
  width: 80%;
  min-height: 80px;
  padding: 10px;
  color: #fbfffe;
  text-align: center;
}
.card-prestation-title::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: linear-gradient(45deg, #1ba4e3, #1683b5);
  border-radius: 10px;
}

.text-1 {
  line-height: 150%;
}

.text-1 {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color: #001747;
  font-weight: 500;
  font-size: 18px;
  font-style: italic;
}

.container-img-text {
  width: 100%;
}
@media screen and (min-width: 993px) {
  .container-img-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 900px;
  }
}

.card-prestation-image {
  position: relative;
  width: 100%;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-position: center;
          mask-position: center;
}
@media screen and (min-width: 993px) {
  .card-prestation-image {
    width: 500px;
    height: 400px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px #001747;
            box-shadow: 0px 0px 10px 0px #001747;
  }
}

.text-2 {
  position: relative;
  z-index: 1;
  line-height: 200%;
  width: 100%;
  padding: 10px;
  color: #fbfffe;
  font-size: 18px;
}
@media screen and (min-width: 993px) {
  .text-2 {
    width: 350px;
  }
}

.text-2::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #171717;
  opacity: 0.8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (min-width: 993px) {
  .text-2::after {
    border-radius: 10px;
  }
}

.card-1-1 {
  background-image: url("@/assets/image/page-prestation/equilibre.webp");
}
.card-1-2 {
  background-image: url("@/assets/image/page-prestation/confiance-en-soi.webp");
}
.card-1-3 {
  background-image: url("@/assets/image/page-prestation/gestion-emotion.webp");
}
.card-1-4 {
  background-image: url("@/assets/image/page-prestation/situations-difficiles.webp");
}
.card-1-5 {
  background-image: url("@/assets/image/page-prestation/conflit.webp");
}
.card-1-6 {
  background-image: url("@/assets/image/page-prestation/gestion-temps.webp");
}
.card-2-1 {
  background-image: url("@/assets/image/page-prestation/competence.webp");
}
.card-2-2 {
  background-image: url("@/assets/image/page-prestation/entretient-job.webp");
}
.card-2-3 {
  background-image: url("@/assets/image/page-prestation/expatriation.webp");
}
.card-2-4 {
  background-image: url("@/assets/image/page-prestation/retour-activite.webp");
}
.card-2-5 {
  background-image: url("@/assets/image/page-prestation/500w-depart-retraite.webp");
}
.card-3-1 {
  background-image: url("@/assets/image/page-prestation/entretient-job-2.webp");
}
.card-3-2 {
  background-image: url("@/assets/image/page-prestation/competences-2.webp");
}
.card-3-3 {
  background-image: url("@/assets/image/page-prestation/cohesion-equipe.webp");
}
.card-3-4 {
  background-image: url("@/assets/image/page-prestation/500w-nouveau-cadre.webp");
}
.card-3-5 {
  background-image: url("@/assets/image/page-prestation/changement-organisationel-2.webp");
}
.card-3-6 {
  background-image: url("@/assets/image/page-prestation/sante-au-travail.webp");
}
.text-3 {
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  color: #001747;
}