.card-prestation {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
@media screen and (min-width: 769px) {
  .card-prestation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    height: 400px;
  }
}
@media screen and (min-width: 993px) {
  .card-prestation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    height: 400px;
  }
}
.card-prestation .container-text {
  height: 100%;
  padding: 10px;
  width: 100%;
}
.card-prestation .container-text > h2 {
  text-align: start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #142452;
  width: 80%;
}
.card-prestation .container-text > p {
  color: #171717;
  width: 80%;
  line-height: 150%;
  font-size: 20px;
}
.card-prestation .container-picture {
  position: relative;
  width: 100%;
  height: 300px;
}
.card-prestation .container-picture .blob {
  position: absolute;
  top: 0%;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-prestation .container-picture .blob-left {
  /*clip-path: path(
    "M137.54,82.51c0,0,46.64-26.6,85.85-32.43c35.62-5.29,73.13-3.04,96.45,6.08c23.32,9.12,71.01,35.47,93.27,56.76c14.4,13.77,27.56,23.31,34.98,48.65c7.42,25.34,3.18,31.16-6.36,45.61s-27.56,27.36-38.16,42.57c-10.6,15.2-30.74,31.42-27.56,63.85c3.18,32.43-1.06,45.61-10.6,59.8c-9.54,14.19-28.62,35.47-47.7,48.65c-19.08,13.18-74.19,35.47-112.35,22.3s-100.69-48.65-122.95-81.08s-41.34-90.29-23.32-114.06s22.26-49.11,27.56-72.42c5.3-23.31,25.44-69.93,32.86-79.05C126.94,88.59,137.54,82.51,137.54,82.51z"
  );*/
}
.card-prestation .container-picture .blob-right {
  /*clip-path: path(
    "M137.54,82.51c0,0,46.64-26.6,85.85-32.43c35.62-5.29,73.13-3.04,96.45,6.08c23.32,9.12,71.01,35.47,93.27,56.76c14.4,13.77,27.56,23.31,34.98,48.65c7.42,25.34,3.18,31.16-6.36,45.61s-27.56,27.36-38.16,42.57c-10.6,15.2-30.74,31.42-27.56,63.85c3.18,32.43-1.06,45.61-10.6,59.8c-9.54,14.19-28.62,35.47-47.7,48.65c-19.08,13.18-74.19,35.47-112.35,22.3s-100.69-48.65-122.95-81.08s-41.34-90.29-23.32-114.06s22.26-49.11,27.56-72.42c5.3-23.31,25.44-69.93,32.86-79.05C126.94,88.59,137.54,82.51,137.54,82.51z"
  );*/
}
.card-prestation .container-picture .logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  overflow: hidden;
}
.card-prestation .container-picture .logo > div {
  width: 100%;
  height: 100%;
}
.card-prestation #logo-black {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 500px;
  height: 500px;
  fill: none;
  stroke: black;
  stroke-width: 4px;
}
.card-prestation #logo-black .st0 {
  stroke-width: 2px;
}
.card-prestation #logo-black .st2 {
  fill: black;
}