/*******************************************************************************
******************** class css *************************************************
**********************************************************************************/
/****************************************************************************************
/********  **************** flex box **************** ******************/
/****start******************************************************************************/
.flex-row-start-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-space-evenly-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-space-evenly-center-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-space-evenly-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-column-start-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column-start-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-column-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/****************************************************************************************
/********  **************** flex box **************** ******************/
/**** end ******************************************************************************/
/**** start ********************** color ***********************************************/
/****************************************************************************************
/****************************************************************************************/
.text-first {
  color: #142452;
}

.text-second {
  color: #1ba4e3;
}

.text-third {
  color: #ff6e00;
}

.text-fourth {
  color: #12664f;
}

.text-fifth {
  color: #171717;
}

.text-sixth {
  color: #fbfffe;
}

.bg-first {
  background-color: #142452;
}

.bg-second {
  background-color: #1ba4e3;
}

.bg-third {
  background-color: #ff6e00;
}

.bg-fourth {
  background-color: #12664f;
}

.bg-fifth {
  background-color: #171717;
}

.bg-sixth {
  background-color: #fbfffe;
}

/**** start ********************** color ***********************************************/
/****************************************************************************************
/****************************************************************************************/
/**** start **********************formulaire***********************************************/
/****************************************************************************************
/****************************************************************************************/
.form-text-error {
  color: #ff6e00;
}

.form-border-error {
  border: 1px solid #ff6e00;
}

.form-border-valid {
  border: 1px solid #1ba4e3;
}

.form-bg-button-enabled {
  background-color: #1ba4e3;
}

.form-bg-button-unebled {
  background-color: #1ba4e3;
  opacity: 0.7;
}

.input {
  border: 1px solid #fbfffe;
  padding: 0.5em;
}

.btn-submit {
  padding: 0.5em;
  margin: 1.5em;
  border-radius: 1em;
}

/********  ****************  formulaire ************ ******************/
/**** end ******************************************************************************/
/****************************************************************************************





/****************************************************************************************
/********  **************** container-page   **************** ******************/
/**** start ******************************************************************************/
.container-page {
  max-width: 1500px;
  min-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

/****************************************************************************************
/********  **************** container-page  **************** ******************/
/**** end ******************************************************************************/