.container-page-dashboard {
  width: 100%;
}

.container-page-move {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 10;
}

.page-top, .page-bottom {
  padding: 10px;
  background-color: #001747;
  color: #fbfffe;
  margin-top: 20px;
  text-align: center;
  width: 100px;
}
@media screen and (min-width: 993px) {
  .page-top, .page-bottom {
    font-size: 20px;
    font-weight: 600;
    width: 200px;
  }
}

.menu-dash {
  width: 100%;
  height: 300px;
}
@media screen and (min-width: 993px) {
  .menu-dash {
    height: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 50%;
  }
}

.menu-link {
  color: #001747;
  padding: 10px;
}

@media screen and (min-width: 993px) {
  .menu-link:hover {
    border-top: 2px solid #001747;
  }
}

.log-out:hover {
  border-top: 4px solid #ff6e00;
}

.container-form {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .container-form {
    width: 80%;
  }
}
@media screen and (min-width: 993px) {
  .container-form {
    width: 60%;
  }
}

.dashboard-title {
  font-size: 25px;
  color: #fbfffe;
  border-left: 20px solid #fbfffe;
  padding: 20px;
  margin-top: 50px;
  -webkit-box-shadow: inset 0px 0px 15px 0px;
          box-shadow: inset 0px 0px 15px 0px;
  border-radius: 10px;
}
@media screen and (min-width: 769px) {
  .dashboard-title {
    font-size: 35px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 15%;
  }
}

.main-container-form {
  /* position: relative;
  z-index: 1; */
  width: 100%;
  margin: 40px 0px;
  /* &::after{
    content: "";
    position:absolute;
    z-index: -1;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: map-get($colors-rule-darked-10, second-color);
    opacity:0.8

  }   */
}
@media screen and (min-width: 769px) {
  .main-container-form {
    padding: 20px;
  }
}