.container-page-dashboard {
  width: 100%;
  padding: 1em;
}

.container-form {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .container-form {
    width: 80%;
  }
}
@media screen and (min-width: 993px) {
  .container-form {
    width: 60%;
  }
}