/**************************************************************
*************  police pour le site *****************************
******************************************************************/
/*@font-face {
  font-family: "cantarel";
  src: url("../../../../Font/cantarel/Cantarell-Regular.ttf");
}

@font-face {
  font-family: "fjalla";
  src: url("../../../../Font/fjalla/Inter-Regular.ttf");
}*/
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../../../Fonts/static/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Source Code Pro", monospace;
  src: url("../../../../Fonts/variable/SourceCodePro-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("../../../../Fonts/variable/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../../../../Fonts/variable/OpenSans-VariableFont_wdth,wght.ttf");
}