.form-login {
  width: 350px;
  border: 2px solid #001747;
  border-radius: 10px;
  padding: 20px;
}
.form-login .input {
  border: 2px solid #001747;
  border-radius: 10px;
  margin: 10px 30px 10px 0px;
}
@media screen and (min-width: 769px) {
  .form-login {
    width: 500px;
  }
}

.btn-submit-login-valid,
.btn-submit-login-novalid {
  position: relative;
  z-index: 1;
  padding: 10px;
}

.btn-submit-login-valid::after {
  content: "";
  position: absolute;
  z-index: -10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #9cd008;
}

.btn-submit-login-valid:hover::after {
  background-color: #779f06;
}

.btn-submit-login-novalid {
  opacity: 0.3;
  background-color: #ff6e00;
}