/***************************************************
** concerne l' ensemble des formulaires du dashboard
*****************************************************
****start********************************************/
.form-dashboard {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 10px;
  margin-top: 25px;
}
.form-dashboard .cont-input-label {
  max-width: 350px;
  width: 100%;
  margin-top: 25px;
}
@media screen and (min-width: 769px) {
  .form-dashboard .cont-input-label {
    max-width: 500px;
  }
}
.form-dashboard .form-title {
  font-size: 25px;
  margin: 30px 0px;
  padding: 10px;
  border: 1px solid #fbfffe;
  color: #fbfffe;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
}
@media screen and (min-width: 993px) {
  .form-dashboard .form-title {
    font-size: 30px;
    -ms-flex-item-align: start;
        align-self: start;
    margin-left: 40px;
  }
}
.form-dashboard .label {
  color: #001747;
}
.form-dashboard .cont-input {
  width: 100%;
}
.form-dashboard .input {
  border: 2px solid #001747;
  border-radius: 10px;
  background-color: #fbfffe;
  resize: vertical;
  width: 100%;
}
.form-dashboard .container-span-error {
  height: 50px;
}
.form-dashboard .container-span-error span {
  background-color: #ff6e00;
  border: 2px solid #994200;
  color: #fbfffe;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.9;
}
.form-dashboard .title-mini-img {
  margin: 10px 0px;
  color: #001747;
}
.form-dashboard .display-image {
  width: 100px;
  height: 100px;
  margin: 5px;
}
.form-dashboard .viewer {
  min-height: 100px;
}
.form-dashboard .btn-submit {
  position: relative;
  z-index: 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 0px;
  color: #fbfffe;
  cursor: pointer;
  max-width: 350px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .form-dashboard .btn-submit {
    width: 50%;
    max-width: none;
  }
}
.form-dashboard .btn-submit:disabled {
  opacity: 0.5;
  cursor: default;
}
.form-dashboard .btn-submit:disabled:hover::after {
  opacity: 0.7;
}
.form-dashboard .btn-submit:hover::after {
  opacity: 1;
}
.form-dashboard .btn-submit::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #9cd008;
  opacity: 0.7;
}
.form-dashboard .toaster {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: -20px;
  height: 0px;
  width: 0px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
  border: 1px solid #fbfffe;
  border-radius: 10px;
  overflow: hidden;
  color: #fbfffe;
  text-align: center;
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.5s linear;
  transition: opacity 0.5s linear, -webkit-transform 0.5s linear;
  transition: opacity 0.5s linear, transform 0.5s linear;
  transition: opacity 0.5s linear, transform 0.5s linear, -webkit-transform 0.5s linear;
  /* @include upper-medium-screen {
          width: 50%;
          max-width: none;
      } */
}
.form-dashboard .valid {
  background-color: #9cd008;
}
.form-dashboard .invalid {
  background-color: #ff6e00;
}
.form-dashboard .visible {
  opacity: 1;
  -webkit-transform: translate(-50%, 40px);
      -ms-transform: translate(-50%, 40px);
          transform: translate(-50%, 40px);
  max-width: 350px;
  width: 100%;
  -webkit-transition: opacity 1s linear, -webkit-transform 1s linear;
  transition: opacity 1s linear, -webkit-transform 1s linear;
  transition: opacity 1s linear, transform 1s linear;
  transition: opacity 1s linear, transform 1s linear, -webkit-transform 1s linear;
}
@media screen and (min-width: 769px) {
  .form-dashboard .visible {
    width: 50%;
    max-width: none;
  }
}

.form-dashboard::after {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #1683b5;
  border-radius: 10px;
  opacity: 0.5;
}

/***************************************************
** concerne l' ensemble des formulaires du dashboard
*****************************************************
**** end ********************************************/
/***************************************************
** concerne le formulaire "changePassword"
*****************************************************
**** start ********************************************/
/***************************************************
** concerne le formulaire "changePassword"
*****************************************************
**** end ********************************************/
/***************************************************
** concerne le formulaire "AddAvis"
*****************************************************
**** start ********************************************/
/***************************************************
** concerne le formulaire "AddAvis"
*****************************************************
**** end ********************************************/
/***************************************************
** concerne le formulaire "DeleteAvis"
*****************************************************
**** start ********************************************/
/***************************************************
** concerne le formulaire "DeleteAvis"
*****************************************************
**** end ********************************************/
/***************************************************
** concerne le formulaire "AddArticle"
*****************************************************
**** start ********************************************/
/***************************************************
** concerne le formulaire "AddArticle"
*****************************************************
**** end ********************************************/
/***************************************************
** concerne le formulaire "DeleteArticle"
*****************************************************
**** start ********************************************/
/***************************************************
** concerne le formulaire "DeleteArticle"
*****************************************************
**** end ********************************************/