.form {
  width: 500px;
  overflow: hidden;
}
.form fieldset {
  width: 100%;
}
.form fieldset .legend {
  padding: 1em;
  font-size: 1.2em;
  font-weight: 600;
}
.form .cont-input-label {
  width: 100%;
  margin-top: 2em;
}
.form .cont-input-span {
  border: 1px solid black;
}
.form .cont-input-span span {
  margin-right: 1em;
}
.form .input {
  margin-top: 0.5em;
  width: 100%;
  padding: 1em;
}
.form .btn-submit {
  margin-top: 2em;
  padding: 1em;
  width: 100%;
  background-color: #068ebc;
  text-align: center;
}