.container-citation {
  position: relative;
  z-index: 0;
  top: -50px;
  color: #994200;
  height: 300px;
  background-color: #fbfffe;
  -webkit-clip-path: polygon(100% 15%, 100% 0, 100% 100%, 100% 85%, 0 100%, 0 0);
          clip-path: polygon(100% 15%, 100% 0, 100% 100%, 100% 85%, 0 100%, 0 0);
}
.container-citation .citation {
  font-size: 20px;
  margin: 0px 0px 0px 20px;
  font-weight: 600;
  line-height: 150%;
}
@media screen and (min-width: 769px) {
  .container-citation .citation {
    font-size: 25px;
  }
}
.container-citation .author {
  font-size: 18px;
  margin: 20px 0px 0px 20px;
  font-weight: 600;
}
@media screen and (min-width: 769px) {
  .container-citation .author {
    font-size: 20px;
  }
}

.design-transition {
  height: 0px;
  width: 0%;
  overflow: hidden;
}
@media screen and (min-width: 993px) {
  .design-transition {
    height: 200px;
    width: 100%;
    border: none;
    -webkit-clip-path: polygon(100% 0%, 100% 0, 100% 100%, 100% 40%, 0 100%, 0 0);
            clip-path: polygon(100% 0%, 100% 0, 100% 100%, 100% 40%, 0 100%, 0 0);
    opacity: 1;
  }
}

.container-transi {
  width: 100%;
  background-color: red;
}

.transi-fourth-color {
  background-color: #9cd008;
}

.transi-second-color {
  background-color: #1ba4e3;
}

.transi-third-color {
  background-color: #ff6e00;
  opacity: 1;
}

.transi-sixth-color {
  background-color: #fbfffe;
}

.transi-rotate-z {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}

.transi-rotate-x {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.svg-deco {
  position: absolute;
  bottom: -10%;
}

.svg-deco-1 {
  display: none;
}
@media screen and (min-width: 993px) {
  .svg-deco-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: -40%;
  }
}

.svg-deco-2 {
  display: none;
}
@media screen and (min-width: 993px) {
  .svg-deco-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: -60%;
    -webkit-transform: rotateZ(90deg);
        -ms-transform: rotate(90deg);
            transform: rotateZ(90deg);
  }
}

.lieu-des-prestations {
  position: relative;
  z-index: 1;
  color: #fbfffe;
  font-size: 18px;
  padding: 20px;
  min-height: 200px;
  line-height: 150%;
  margin: 50px 0px;
}
@media screen and (min-width: 993px) {
  .lieu-des-prestations {
    font-size: 25px;
  }
}

.lieu-des-prestations::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #001747;
}