/*************************************************************************************
********************* concerne les articles page index *********************************
**** start  ********************************************************************************/
.container-page-index .article-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px 0px;
}
.container-page-index .link-article {
  z-index: 1;
  max-width: 400px;
  width: 100%;
  max-height: 1000px;
  border-radius: 10px;
  padding: 10px;
}
@media screen and (min-width: 769px) {
  .container-page-index .link-article {
    max-width: 500px;
    opacity: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: opacity 0.4s ease-in-out, -webkit-box-shadow 0.25s linear, -webkit-transform 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out, -webkit-box-shadow 0.25s linear, -webkit-transform 0.4s ease-in-out;
    transition: box-shadow 0.25s linear, opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    transition: box-shadow 0.25s linear, opacity 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-box-shadow 0.25s linear, -webkit-transform 0.4s ease-in-out;
  }
}
@media screen and (min-width: 993px) {
  .container-page-index .link-article {
    max-width: 600px;
  }
}
@media screen and (min-width: 993px) {
  .container-page-index .link-article:hover .collapse {
    opacity: 1;
    -webkit-transform: translateY(80%);
        -ms-transform: translateY(80%);
            transform: translateY(80%);
    -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s linear;
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s linear;
    transition: opacity 0.3s ease-in-out, transform 0.3s linear;
    transition: opacity 0.3s ease-in-out, transform 0.3s linear, -webkit-transform 0.3s linear;
  }
}
@media screen and (min-width: 993px) {
  .container-page-index .link-article:hover {
    -webkit-transition: -webkit-box-shadow 0.25s linear;
    transition: -webkit-box-shadow 0.25s linear;
    transition: box-shadow 0.25s linear;
    transition: box-shadow 0.25s linear, -webkit-box-shadow 0.25s linear;
    -webkit-box-shadow: 2px 2px 6px 0px #fbfffe;
            box-shadow: 2px 2px 6px 0px #fbfffe;
  }
}
.container-page-index .transition-article {
  opacity: 1;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
.container-page-index .container-image {
  position: relative;
  width: 100%;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}
.container-page-index .image-article {
  width: 100%;
  height: 300px;
  background-color: #001747;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (min-width: 769px) {
  .container-page-index .image-article {
    height: 350px;
  }
}
@media screen and (min-width: 993px) {
  .container-page-index .image-article {
    height: 300px;
  }
}
.container-page-index #img-1 {
  background-image: url("/src/assets/image/page-index/what-3.jpg");
  background-position: bottom;
}
.container-page-index #img-2 {
  background-image: url("/src/assets/image/page-index/pense.jpg");
}
.container-page-index #img-3 {
  background-image: url("/src/assets/image/page-index/desert.jpg");
  background-position: bottom;
}
.container-page-index #img-4 {
  background-image: url("/src/assets/image/page-index/private.jpg");
}
.container-page-index #img-5 {
  background-image: url("/src/assets/image/page-index/engrenage.jpg");
}
.container-page-index #img-6 {
  background-image: url("/src/assets/image/page-index/abeille.jpg");
}
.container-page-index #img-7 {
  background-image: url("/src/assets/image/page-index/reussite.jpg");
  background-position: bottom;
}
.container-page-index .title-article {
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 25px;
  padding: 20px 10px 20px 10px;
  width: 100%;
  -webkit-backdrop-filter: brightness(90%) blur(2px);
          backdrop-filter: brightness(90%) blur(2px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
@media screen and (min-width: 769px) {
  .container-page-index .title-article {
    font-size: 30px;
  }
}
@media screen and (min-width: 993px) {
  .container-page-index .title-article {
    font-size: 35px;
  }
}
.container-page-index .title-article::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #9cd008;
  opacity: 0.7;
  -webkit-box-shadow: inset 0px 0px 20px #fbfffe;
          box-shadow: inset 0px 0px 20px #fbfffe;
}
.container-page-index .collapse {
  position: absolute;
  bottom: 0px;
  right: -15%;
  z-index: 1;
  padding: 20px;
  font-size: 22px;
  color: #fbfffe;
  -webkit-transition: opacity 0.2s ease-in-out 0.2s, -webkit-transform 0.2s linear 0.2s;
  transition: opacity 0.2s ease-in-out 0.2s, -webkit-transform 0.2s linear 0.2s;
  transition: opacity 0.2s ease-in-out 0.2s, transform 0.2s linear 0.2s;
  transition: opacity 0.2s ease-in-out 0.2s, transform 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
  opacity: 0;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  width: 200px;
  height: 200px;
  background-color: #9cd008;
}
.container-page-index .collapse p {
  text-align: center;
}
.container-page-index .svg-object {
  width: 50px;
}
.container-page-index .text-1,
.container-page-index .text-2,
.container-page-index .text-3 {
  margin: 20px 0px;
  line-height: 150%;
  text-align: left;
  font-size: 18px;
}
.container-page-index .text-1 {
  font-weight: 600;
  text-align: left;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 80%;
  color: #fbfffe;
}
@media screen and (min-width: 769px) {
  .container-page-index .text-1 {
    -webkit-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
            transform: translateX(-20%);
    font-size: 22px;
  }
}
@media screen and (min-width: 993px) {
  .container-page-index .text-1 {
    font-size: 25px;
    min-height: 150px;
  }
}
@media screen and (min-width: 769px) {
  .container-page-index .container-text-2,
  .container-page-index .container-text-3 {
    opacity: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
}
.container-page-index .container-text-2 .svg-arrow-right,
.container-page-index .container-text-3 .svg-arrow-right {
  display: none;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 769px) {
  .container-page-index .container-text-2 .svg-arrow-right,
  .container-page-index .container-text-3 .svg-arrow-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 100px;
    min-height: 100px;
    -webkit-mask-image: url("/src/assets/svg/page-index/fleche/card-arrow-right.svg");
            mask-image: url("/src/assets/svg/page-index/fleche/card-arrow-right.svg");
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: contain;
            mask-size: contain;
  }
}
.container-page-index .container-text-2 .svg-arrow-right::after,
.container-page-index .container-text-3 .svg-arrow-right::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #9cd008;
  opacity: 0.7;
  -webkit-box-shadow: inset 0px 0px 40px 1px #fbfffe;
          box-shadow: inset 0px 0px 40px 1px #fbfffe;
}
@media screen and (min-width: 769px) {
  .container-page-index .container-text-2 {
    margin-left: -20%;
  }
}
.container-page-index .transition-text {
  opacity: 1;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
.container-page-index .text-2,
.container-page-index .text-3 {
  width: 100%;
  color: #171717;
  padding: 10px;
  border-radius: 10px;
  background-color: #fbfffe;
}
@media screen and (min-width: 769px) {
  .container-page-index .text-2,
  .container-page-index .text-3 {
    margin-left: 20px;
  }
}

.container-article {
  width: 100%;
  margin: 0px auto;
  /* @include upper-large-screen {
    width: 80%;
  } */
}

.svg-deco-point {
  position: absolute;
  top: -30%;
  left: -80%;
  -webkit-clip-path: polygon(75% 6%, 98% 50%, 75% 94%, 0 94%, 25% 50%, 0 6%);
          clip-path: polygon(75% 6%, 98% 50%, 75% 94%, 0 94%, 25% 50%, 0 6%);
}

.index-article-container {
  position: relative;
  z-index: 5;
  width: 450px;
  height: 800px;
  margin: 50px 10%;
  border-radius: 10px;
}
@media screen and (min-width: 993px) {
  .index-article-container {
    max-width: 900px;
    width: 100%;
    height: 500px;
  }
}
.index-article-container .index-container-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}
@media screen and (min-width: 993px) {
  .index-article-container .index-container-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.index-article-container .index-article-title {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 20%;
  font-size: 25px;
  text-align: center;
  overflow: hidden;
  font-weight: 600;
  color: #001747;
}
@media screen and (min-width: 993px) {
  .index-article-container .index-article-title {
    font-size: 30px;
  }
}
.index-article-container .index-article-title::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #9cd008;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 0.9;
}
.index-article-container .bg::after {
  background-color: #ff6e00;
}

.index-container-content {
  position: relative;
  height: 80%;
  width: 100%;
}

.div-style {
  height: 0%;
  width: 0%;
}
@media screen and (min-width: 993px) {
  .div-style {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
    background-color: #fbfffe;
    border-bottom-left-radius: 10px;
  }
}

.container-img {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.container-img #img-1 {
  position: relative;
  height: 400px;
  width: 400px;
  background: linear-gradient(-45deg, #ff6e00, #fbfffe);
}
.container-img #img-1::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("@/assets/desert.jpg");
  -webkit-mask-image: url("/src/assets/blob/blob-index-masque.svg");
          mask-image: url("/src/assets/blob/blob-index-masque.svg");
}
.container-img .message {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
@media screen and (min-width: 993px) {
  .container-img {
    position: absolute;
    top: 50%;
    left: 20%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 300px;
    height: 350px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px #333333;
            box-shadow: 0px 0px 5px 0px #333333;
  }
  .container-img .message {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0px;
    height: 100%;
    width: 100%;
    font-size: 35px;
    text-align: center;
    color: #001747;
    font-weight: 600;
    -webkit-transition: top 0.3s ease-in-out 0s;
    transition: top 0.3s ease-in-out 0s;
  }
  .container-img .message::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 25%;
    left: 0px;
    height: 50%;
    width: 100%;
    background-color: #9cd008;
    opacity: 0.8;
  }
  .container-img:hover .message {
    top: 0%;
  }
}

.index-article-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-text {
  background-color: #fbfffe;
  height: 50%;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
@media screen and (min-width: 993px) {
  .container-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 75%;
            flex: 1 1 75%;
    height: 100%;
    border-bottom-left-radius: 0px;
  }
}
.container-text .index-article-text {
  width: 100%;
  padding: 0px 10px;
  font-size: 18px;
  line-height: 150%;
  text-align: match-parent;
  color: black;
  opacity: 0.8;
}
@media screen and (min-width: 993px) {
  .container-text .index-article-text {
    font-size: 20px;
    width: 80%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0.2;
    -webkit-transform: translate(0%, 5%);
            transform: translate(0%, 5%);
  }
  33% {
    opacity: 0.3;
    -webkit-transform: translate(5%, 0%);
            transform: translate(5%, 0%);
  }
  66% {
    opacity: 0.2;
    -webkit-transform: translate(0%, -5%);
            transform: translate(0%, -5%);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: translate(-5%, 0%);
            transform: translate(-5%, 0%);
  }
}
@keyframes opacity {
  0% {
    opacity: 0.2;
    -webkit-transform: translate(0%, 5%);
            transform: translate(0%, 5%);
  }
  33% {
    opacity: 0.3;
    -webkit-transform: translate(5%, 0%);
            transform: translate(5%, 0%);
  }
  66% {
    opacity: 0.2;
    -webkit-transform: translate(0%, -5%);
            transform: translate(0%, -5%);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: translate(-5%, 0%);
            transform: translate(-5%, 0%);
  }
}
.container-text .icon-help {
  position: absolute;
  z-index: 1;
  top: -15%;
  left: 5%;
  width: 200px;
  height: 200px;
  opacity: 0.2;
}
@media screen and (min-width: 993px) {
  .container-text .icon-help {
    top: -10%;
    left: 80%;
    width: 200px;
    height: 200px;
    opacity: 0.2;
  }
}
.container-text .svg-animation-help {
  -webkit-animation: opacity 15s ease-in-out 0s alternate infinite both;
          animation: opacity 15s ease-in-out 0s alternate infinite both;
}

@media screen and (min-width: 993px) {
  .align-right {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (min-width: 993px) {
  .align-left {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

/*************************************************************************************
********************* concerne les articles page index***********************************
**** end  ********************************************************************************/