/* .body::after {
  background-color: map-get($colors-rule, second-color);
  opacity: 0.7;
} */
.main-parallax-container {
  position: relative;
  z-index: 1;
  margin: 0px 0px 50px 0px;
}

.parallax-container {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1501px) {
  .parallax-container {
    height: 600px;
  }
}

@media screen and (min-width: 993px) {
  .parallax-container-title {
    height: 100%;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.parallax img {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.title-index {
  position: relative;
  z-index: 1;
  max-width: 100%;
  text-align: center;
  color: #001747;
}
@media screen and (min-width: 993px) {
  .title-index {
    margin: 30px 0px;
    width: 100%;
    padding: 20px;
  }
  .title-index::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fbfffe;
    opacity: 0.9;
  }
  .title-index .main-title {
    font-size: 50px;
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
  }
}

.link-container {
  position: relative;
  z-index: 1;
  width: 100%;
  /* .link-cta:hover .text-inside {
    background-color: darken(map-get($colors-rule, fourth-color), 20%);
    color: map-get($colors-rule, sixth-color);
  } */
}
@media screen and (min-width: 993px) {
  .link-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.link-container .link-cta {
  margin: 20px 0px;
}
@media screen and (min-width: 993px) {
  .link-container .link-cta {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
    border-radius: 50px;
    -webkit-transition: -webkit-box-shadow 0.2s linear;
    transition: -webkit-box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
  }
}
.link-container .link-cta:active .text-inside {
  background-color: #526e04;
}
@media screen and (min-width: 993px) {
  .link-container .link-cta:hover .text-aside {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}
@media screen and (min-width: 993px) {
  .link-container .link-cta:hover .text-inside {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}
@media screen and (min-width: 993px) {
  .link-container .link-cta:hover {
    -webkit-box-shadow: inset 0px 0px 40px 2px #9cd008;
            box-shadow: inset 0px 0px 40px 2px #9cd008;
    -webkit-transition: -webkit-box-shadow 0.4s linear;
    transition: -webkit-box-shadow 0.4s linear;
    transition: box-shadow 0.4s linear;
    transition: box-shadow 0.4s linear, -webkit-box-shadow 0.4s linear;
  }
}
.link-container .text-aside,
.link-container .text-inside {
  font-size: 1em;
  color: #001747;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
@media screen and (min-width: 769px) {
  .link-container .text-aside,
  .link-container .text-inside {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 993px) {
  .link-container .text-aside,
  .link-container .text-inside {
    font-size: 1.2em;
  }
}
.link-container .text-inside {
  height: 20%;
  padding: 10px;
  border-radius: 20px;
  background-color: #9cd008;
}
.link-container .text-aside {
  padding: 10px;
  border-radius: 20px;
  background-color: #001747;
  color: #fbfffe;
}

/* .link-container::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  //background-color: map-get($colors-rule, first-color);
  opacity: 0.5;
} */
.container-citation {
  position: relative;
  z-index: 0;
  top: -50px;
  color: #994200;
  height: 300px;
  background-color: #fbfffe;
  -webkit-clip-path: polygon(100% 15%, 100% 0, 100% 100%, 100% 85%, 0 100%, 0 0);
          clip-path: polygon(100% 15%, 100% 0, 100% 100%, 100% 85%, 0 100%, 0 0);
}
.container-citation .citation {
  font-size: 20px;
  margin: 0px 0px 0px 20px;
  font-weight: 600;
  line-height: 150%;
}
@media screen and (min-width: 769px) {
  .container-citation .citation {
    font-size: 25px;
  }
}
.container-citation .author {
  font-size: 18px;
  margin: 20px 0px 0px 20px;
  font-weight: 600;
}
@media screen and (min-width: 769px) {
  .container-citation .author {
    font-size: 20px;
  }
}

.design-transition {
  height: 0px;
  width: 0%;
  overflow: hidden;
}
@media screen and (min-width: 993px) {
  .design-transition {
    height: 200px;
    width: 100%;
    -webkit-clip-path: polygon(100% 0%, 100% 0, 100% 100%, 100% 40%, 0 100%, 0 0);
            clip-path: polygon(100% 0%, 100% 0, 100% 100%, 100% 40%, 0 100%, 0 0);
    opacity: 0.9;
  }
}

.container-transi {
  width: 100%;
}

.transi-fourth-color {
  background-color: #9cd008;
}

.transi-second-color {
  background-color: #1ba4e3;
}

.transi-third-color {
  background-color: #ff6e00;
  opacity: 1;
}

.transi-sixth-color {
  background-color: #fbfffe;
}

.transi-rotate-z {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}

.transi-rotate-x {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

/* .design-transi-split {
  width: 100%;
  height: 50px;
  background-color: map-get($colors-rule, sixth-color);
  //opacity: 
} */
.svg-deco {
  position: absolute;
  bottom: -10%;
}

.svg-deco-1 {
  display: none;
}
@media screen and (min-width: 993px) {
  .svg-deco-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: -40%;
  }
}

.svg-deco-2 {
  display: none;
}
@media screen and (min-width: 993px) {
  .svg-deco-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: -60%;
    -webkit-transform: rotateZ(90deg);
        -ms-transform: rotate(90deg);
            transform: rotateZ(90deg);
  }
}

.lieu-des-prestations {
  position: relative;
  z-index: 1;
  color: #fbfffe;
  font-size: 18px;
  padding: 20px;
  min-height: 200px;
  line-height: 150%;
  margin: 50px 0px;
}
@media screen and (min-width: 993px) {
  .lieu-des-prestations {
    font-size: 25px;
  }
}

.lieu-des-prestations::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #001747;
}