/********************************************************************
***************** concerne le style du composant "NavBar"************
*********************************************************************/
.nav-bar {
  position: relative;
  z-index: 10;
  padding: 8px 0px 5px 0px;
}
@media screen and (min-width: 993px) {
  .nav-bar {
    position: relative;
    width: 100%;
  }
}

.nav-bar::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fbfffe;
}

.container-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.logo-coaching-svg {
  width: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 50px;
}
@media screen and (min-width: 769px) {
  .logo-coaching-svg {
    width: 200px;
  }
}
@media screen and (min-width: 993px) {
  .logo-coaching-svg {
    width: 250px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 1501px) {
  .logo-coaching-svg {
    width: 300px;
    margin-left: 100px;
  }
}

.container-burger {
  margin-left: 50px;
  background-color: #1ba4e3;
  border-radius: 50%;
  padding: 5px;
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 769px) {
  .container-burger {
    width: 60px;
    height: 60px;
  }
}

.logo-burger-svg svg {
  width: 40px;
  height: 40px;
  fill: #fbfffe;
}
@media screen and (min-width: 769px) {
  .logo-burger-svg svg {
    width: 50px;
    height: 50px;
  }
}

.icon-close-svg svg {
  width: 40px;
  height: 40px;
  fill: #ff6e00;
  -webkit-box-shadow: 0 0 5px 1px #ff6e00;
          box-shadow: 0 0 5px 1px #ff6e00;
  border-radius: 5px;
}

.container-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container-link-li {
  position: relative;
  height: 40px;
  margin-right: 40px;
  min-width: 50px;
  overflow: hidden;
}
.container-link-li .nav-link {
  position: relative;
  font-size: 16px;
  color: #001747;
}
@media screen and (min-width: 1501px) {
  .container-link-li .nav-link {
    font-size: 18px;
  }
}
.container-link-li .nav-link::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #9cd008;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 0s linear 0.3s, -webkit-transform 0.2s ease-in-out 0s;
  transition: opacity 0s linear 0.3s, -webkit-transform 0.2s ease-in-out 0s;
  transition: transform 0.2s ease-in-out 0s, opacity 0s linear 0.3s;
  transition: transform 0.2s ease-in-out 0s, opacity 0s linear 0.3s, -webkit-transform 0.2s ease-in-out 0s;
}
.container-link-li .nav-link:hover::after {
  opacity: 1;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.indicator {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #1ba4e3;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  opacity: 0;
}

.active {
  opacity: 1;
}

.container-lang {
  position: relative;
  height: 50px;
  margin-right: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.list-lang {
  position: absolute;
  z-index: 2;
  top: 100%;
  right: 0px;
  width: 100px;
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
  -webkit-transform: translateX(150%);
      -ms-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: opacity 150ms ease-in-out 0.1s, max-height 0.2s ease-in-out 0.2s, padding 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0s;
  transition: opacity 150ms ease-in-out 0.1s, max-height 0.2s ease-in-out 0.2s, padding 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0s;
  transition: opacity 150ms ease-in-out 0.1s, transform 0.2s ease-in-out 0s, max-height 0.2s ease-in-out 0.2s, padding 0.2s ease-in-out 0.2s;
  transition: opacity 150ms ease-in-out 0.1s, transform 0.2s ease-in-out 0s, max-height 0.2s ease-in-out 0.2s, padding 0.2s ease-in-out 0.2s, -webkit-transform 0.2s ease-in-out 0s;
  background-color: #fbfffe;
}

.container-lang:hover .list-lang {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  max-height: 40px;
  padding: 10px;
  height: 100%;
  -webkit-transition: opacity 0.2ms ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s;
  transition: opacity 0.2ms ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s;
  transition: opacity 0.2ms ease-in-out 0s, transform 0.3s ease-in-out 0s;
  transition: opacity 0.2ms ease-in-out 0s, transform 0.3s ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s;
}

.list-lang-li-a {
  position: relative;
  color: #001747;
  font-size: 1em;
}

.list-lang-li-a:hover {
  color: #9cd008;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

#icon-language {
  fill: #001747;
  width: 24px;
  height: 24px;
}

.menu-burger {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
  -webkit-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}
.menu-burger .burger-menu-list {
  margin-top: 50px;
  opacity: 0;
  -webkit-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
          transform: translateX(-30%);
}
.menu-burger.close .burger-menu-list {
  -webkit-transition: opacity 100ms ease-in-out, -webkit-transform 200ms linear;
  transition: opacity 100ms ease-in-out, -webkit-transform 200ms linear;
  transition: transform 200ms linear, opacity 100ms ease-in-out;
  transition: transform 200ms linear, opacity 100ms ease-in-out, -webkit-transform 200ms linear;
}
.menu-burger.open .burger-menu-list {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  -webkit-transition: opacity 500ms linear 200ms, -webkit-transform 300ms ease-in-out 200ms;
  transition: opacity 500ms linear 200ms, -webkit-transform 300ms ease-in-out 200ms;
  transition: transform 300ms ease-in-out 200ms, opacity 500ms linear 200ms;
  transition: transform 300ms ease-in-out 200ms, opacity 500ms linear 200ms, -webkit-transform 300ms ease-in-out 200ms;
}
.menu-burger .burger-menu-li {
  position: relative;
  z-index: 1;
  margin: 10px 0px 10px 40px;
  min-width: 50px;
  min-height: 50px;
}
.menu-burger .burger-menu-li::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #001747;
  opacity: 0;
}
.menu-burger .burger-menu-li:active::after {
  opacity: 1;
}
.menu-burger .burger-menu-li-a {
  color: #1ba4e3;
  font-size: 18px;
}
.menu-burger .burger-menu-li:first-child {
  position: absolute;
  top: -50px;
  right: 20px;
}

.menu-burger::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #171717;
  z-index: -1;
  opacity: 1;
}

.open {
  width: 300px;
  height: 100%;
  z-index: 10;
  -webkit-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
  opacity: 1;
}

.close {
  width: 0px;
  height: 100%;
  -webkit-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
  opacity: 1;
}

.burger-menu-lang {
  margin: 10px 40px;
}
.burger-menu-lang .burger-menu-lang-li {
  position: relative;
  z-index: 1;
  min-width: 50px;
  min-height: 50px;
  margin-right: 10px;
}
.burger-menu-lang .burger-menu-lang-li::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #001747;
  opacity: 0;
}
.burger-menu-lang .burger-menu-lang-li:active::after {
  opacity: 1;
}
.burger-menu-lang .burger-menu-lang-li-a {
  font-size: 18px;
  padding: 0px 5px;
  border-left: 1px solid #1ba4e3;
  border-right: 1px solid #1ba4e3;
  color: #1ba4e3;
}