/********************************************************************
***************** concerne le style du composant "NavBar"************
*********************************************************************/
.nav-bar {
  position: relative;
  margin-bottom: 50px;
  max-height: 100px;
  padding: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (min-width: 769px) {
  .nav-bar {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 993px) {
  .nav-bar {
    margin-bottom: 70px;
  }
}

.nav-bar::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #fbfffe), color-stop(40%, #1ba4e3), color-stop(60%, #fbfffe));
  background: linear-gradient(to right, #fbfffe 20%, #1ba4e3 40%, #fbfffe 60%);
  opacity: 0.3;
}

.container-logo {
  margin-right: 25%;
}
@media screen and (min-width: 769px) {
  .container-logo {
    margin-right: 0%;
    margin-left: 3%;
  }
}
@media screen and (min-width: 993px) {
  .container-logo {
    margin-right: 0%;
    margin-left: 10%;
  }
}

.logo-coaching-svg {
  width: 64px;
  height: 64px;
}
@media screen and (min-width: 769px) {
  .logo-coaching-svg {
    width: 74px;
    height: 74px;
  }
}
@media screen and (min-width: 993px) {
  .logo-coaching-svg {
    width: 84px;
    height: 84px;
  }
}
.logo-coaching-svg .st0 {
  fill: none;
  stroke: #142452;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.logo-coaching-svg .st1 {
  fill: none;
  stroke: #142452;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.logo-coaching-svg .st2 {
  fill: #142452;
}
.logo-coaching-svg .st3 {
  fill: #142452;
  stroke: #142452;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.logo-coaching-svg .st4 {
  fill: #7ac943;
}
.logo-coaching-svg .st5 {
  fill: none;
  stroke: #7ac943;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.logo-burger-svg svg {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 576px) {
  .logo-burger-svg svg {
    width: 40px;
    height: 40px;
  }
}

.icon-close-svg svg {
  width: 40px;
  height: 40px;
  fill: #ff6e00;
}

.container-link > li {
  position: relative;
  height: 40px;
  margin-right: 40px;
  min-width: 50px;
}
.container-link > li .nav-link {
  display: block;
  position: relative;
  padding-bottom: 10px;
  overflow: hidden;
  font-weight: 500;
  color: #142452;
}
@media screen and (min-width: 769px) {
  .container-link > li .nav-link {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 993px) {
  .container-link > li .nav-link {
    font-size: 1.2em;
  }
}
.container-link > li .nav-link::after {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: "";
  border-bottom: 4px solid #9cd008;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 0s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.container-link > li .nav-link:hover::after {
  opacity: 1;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.indicator {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: "";
  border-bottom: 4px solid #1ba4e3;
  opacity: 0;
  -webkit-transition: opacity 0s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.active {
  opacity: 1;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.container-lang {
  position: relative;
  height: 40px;
  margin-right: 40px;
  min-width: 50px;
}
.container-lang .list-lang {
  position: absolute;
  top: 100%;
  max-height: 0px;
  width: 100px;
  overflow: hidden;
  -webkit-transition: max-height 150ms ease-in-out;
  transition: max-height 150ms ease-in-out;
}
.list-lang-li-a {
  z-index: 5;
  position: relative;
  display: block;
  color: #142452;
  font-size: 1em;
  padding: 0px 5px;
}
@media screen and (min-width: 993px) {
  .list-lang-li-a {
    font-size: 1.1em;
  }
}

.list-lang-li-a::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-left: 2px solid #9cd008;
  border-right: 2px solid #9cd008;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.list-lang-li-a:hover::after {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.container-lang:hover .list-lang {
  max-height: 100px;
}

#icon-language {
  fill: black;
  width: 24px;
  height: 24px;
}

.menu-burger {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
  -webkit-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}
.menu-burger .burger-menu-list {
  margin-top: 50px;
  opacity: 0;
  -webkit-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
          transform: translateX(-30%);
}
.menu-burger.close .burger-menu-list {
  -webkit-transition: opacity 100ms ease-in-out, -webkit-transform 200ms linear;
  transition: opacity 100ms ease-in-out, -webkit-transform 200ms linear;
  transition: transform 200ms linear, opacity 100ms ease-in-out;
  transition: transform 200ms linear, opacity 100ms ease-in-out, -webkit-transform 200ms linear;
}
.menu-burger.open .burger-menu-list {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  -webkit-transition: opacity 500ms linear 200ms, -webkit-transform 300ms ease-in-out 200ms;
  transition: opacity 500ms linear 200ms, -webkit-transform 300ms ease-in-out 200ms;
  transition: transform 300ms ease-in-out 200ms, opacity 500ms linear 200ms;
  transition: transform 300ms ease-in-out 200ms, opacity 500ms linear 200ms, -webkit-transform 300ms ease-in-out 200ms;
}
.menu-burger .burger-menu-li {
  position: relative;
  z-index: 1;
  margin: 10px 0px 10px 40px;
  min-width: 50px;
  min-height: 50px;
}
.menu-burger .burger-menu-li::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #142452;
  opacity: 0;
}
.menu-burger .burger-menu-li:active::after {
  opacity: 1;
}
.menu-burger .burger-menu-li-a {
  color: #1ba4e3;
  font-size: 18px;
}
.menu-burger .burger-menu-li:first-child {
  position: absolute;
  top: -50px;
  right: 20px;
}

.menu-burger::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #171717;
  border: 2px solid #fbfffe;
  z-index: -1;
  opacity: 1;
  -webkit-box-shadow: 2px 2px 5px 2px #646464;
          box-shadow: 2px 2px 5px 2px #646464;
}

.open {
  width: 300px;
  height: 100%;
  -webkit-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
  opacity: 1;
}

.close {
  width: 0px;
  height: 100%;
  -webkit-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
  opacity: 1;
}

.menu-burger.open .burger-menu-li:first-child {
  -webkit-animation: animBtnClose 0.5s ease-in-out 0.2s 1 normal forwards;
          animation: animBtnClose 0.5s ease-in-out 0.2s 1 normal forwards;
}

.burger-menu-lang {
  margin: 10px 40px;
}
.burger-menu-lang .burger-menu-lang-li {
  position: relative;
  z-index: 1;
  min-width: 50px;
  min-height: 50px;
  margin-right: 10px;
}
.burger-menu-lang .burger-menu-lang-li::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #142452;
  opacity: 0;
}
.burger-menu-lang .burger-menu-lang-li:active::after {
  opacity: 1;
}
.burger-menu-lang .burger-menu-lang-li-a {
  font-size: 18px;
  padding: 0px 5px;
  border-left: 1px solid #1ba4e3;
  border-right: 1px solid #1ba4e3;
}