.container-carousel {
  position: relative;
  border: 2px solid transparent;
}

@media screen and (min-width: 993px) {
  .carousel {
    margin-bottom: 100px;
  }
}
.carousel .carousel-item {
  width: 400px;
  height: 300px;
  background-color: #001747;
  background-size: cover !important;
  background-position: center !important;
}
.carousel #slider-1 {
  background: url("http://localhost:5173/src/assets/escqlier1.jpg");
}
.carousel #slider-2 {
  background: url("http://localhost:5173/src/assets/fresh.jpg");
}
.carousel #slider-3 {
  background: url("http://localhost:5173/src/assets/lake.jpg");
}

.arrow-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0px 30%;
  border: 2px solid transparent;
}
@media screen and (min-width: 993px) {
  .arrow-container {
    bottom: 0%;
  }
}

#arrow-prev,
#arrow-next {
  padding: 10px;
}

.icon-arrow-slider {
  width: 40px;
  height: 40px;
  fill: #fbfffe;
}
@media screen and (min-width: 576px) {
  .icon-arrow-slider {
    width: 80px;
    height: 80px;
  }
}
@media screen and (min-width: 993px) {
  .icon-arrow-slider {
    width: 100px;
    height: 100px;
  }
}

.suite {
  margin-top: 50px;
}