/**************************************************************
*************  police pour le site *****************************
******************************************************************/
/*@font-face {
  font-family: "cantarel";
  src: url("../../../../Font/cantarel/Cantarell-Regular.ttf");
}

@font-face {
  font-family: "fjalla";
  src: url("../../../../Font/fjalla/Inter-Regular.ttf");
}*/
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../../../Fonts/static/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Mulish", sans-serif;
  src: url("../../../../Fonts/static/Mulish-Regular.ttf");
}
@font-face {
  font-family: "Oxygen", sans-serif;
  src: url("../../../../Fonts/static/Oxygen-Regular.ttf");
}
@font-face {
  font-family: "Source Code Pro", monospace;
  src: url("../../../../Fonts/variable/SourceCodePro-VariableFont_wght.ttf");
}
.qui-suis-je {
  background: -webkit-gradient(linear, left bottom, left top, from(#fbfffe), to(#1ba4e3));
  background: linear-gradient(to top, #fbfffe, #1ba4e3);
}
.qui-suis-je .introduction {
  position: relative;
  z-index: 1;
  width: 100%;
}
@media screen and (min-width: 993px) {
  .qui-suis-je .introduction {
    min-height: 450px;
  }
}
.qui-suis-je .introduction .bg-img {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}
.qui-suis-je .introduction .page-title {
  color: #fbfffe;
  padding-left: 0px;
  margin: 40px 0px;
  font-size: 40px;
}
@media screen and (min-width: 769px) {
  .qui-suis-je .introduction .page-title {
    font-size: 45px;
  }
}
@media screen and (min-width: 769px) {
  .qui-suis-je .introduction .page-title {
    font-size: 50px;
  }
}
.qui-suis-je .introduction .intro-text {
  color: #fbfffe;
}
.qui-suis-je .introduction::after {
  content: "";
  position: absolute;
  z-index: -5;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #171717;
  opacity: 1;
}
@media screen and (min-width: 993px) {
  .qui-suis-je .article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px 0px;
  }
}
.qui-suis-je .container-card-resume {
  display: none;
}
@media screen and (min-width: 993px) {
  .qui-suis-je .container-card-resume {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
    z-index: 2;
    opacity: 0.8;
    max-width: 50%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.qui-suis-je .container-content {
  width: 100%;
}
@media screen and (min-width: 993px) {
  .qui-suis-je .container-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}
.qui-suis-je .container-content .value-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 18px;
  color: #001747;
  max-width: 90%;
}
.qui-suis-je .container-content .value-list li {
  margin-right: 15px;
  margin-bottom: 5px;
}
.qui-suis-je .container-content .content-title {
  margin: 20px 0px;
  font-size: 25px;
}
@media screen and (min-width: 769px) {
  .qui-suis-je .container-content .content-title {
    font-size: 30px;
  }
}
@media screen and (min-width: 993px) {
  .qui-suis-je .container-content .content-title {
    font-size: 35px;
  }
}
.qui-suis-je .container-content .content-text {
  width: 80%;
  font-size: 20px;
  line-height: 150%;
  margin: 40px 0px;
}
@media screen and (min-width: 993px) {
  .qui-suis-je .container-content .content-text {
    width: 100%;
    font-size: 22px;
    padding: 15px 15px;
  }
}
@media screen and (min-width: 993px) {
  .qui-suis-je .container-content-head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
  }
}
@media screen and (min-width: 993px) {
  .qui-suis-je .container-content-head .content-title-head {
    font-size: 35px;
    width: 30%;
    text-align: center;
  }
}
.qui-suis-je .container-img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin: 30px 0px;
}
@media screen and (min-width: 993px) {
  .qui-suis-je .container-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
    height: 500px;
  }
}