/*******************************************************************************
******************** shared-style  *************************************************
**********************************************************************************/
/**************************************************************
*************  police pour le site *****************************
******************************************************************/
/*@font-face {
  font-family: "cantarel";
  src: url("../../../../Font/cantarel/Cantarell-Regular.ttf");
}

@font-face {
  font-family: "fjalla";
  src: url("../../../../Font/fjalla/Inter-Regular.ttf");
}*/
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../../../Fonts/static/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Mulish", sans-serif;
  src: url("../../../../Fonts/static/Mulish-Regular.ttf");
}
@font-face {
  font-family: "Oxygen", sans-serif;
  src: url("../../../../Fonts/static/Oxygen-Regular.ttf");
}
@font-face {
  font-family: "Source Code Pro", monospace;
  src: url("../../../../Fonts/variable/SourceCodePro-VariableFont_wght.ttf");
}
/****************************************************************************************
/********  **************** Main style **************** ******************/
/****start******************************************************************************/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Mulish", sans-serif;
  font-size: 1em;
  font-weight: 500;
}

/****************************************************************************************
/********  **************** Main style **************** ******************/
/****end******************************************************************************/
/****************************************************************************************
/********  **************** Layout **************** ******************/
/****start******************************************************************************/
/************ flex-box***********************************/
.flex-row-start-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-space_evenly-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-space_evenly-center-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row-space_evenly-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-row-space_between-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row_reverse-space_between-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column-start-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column-start-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-column-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.flex-column-space_evenly-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.flex-column-space_evenly-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/****************************************************************************************
/********  **************** flex box **************** ******************/
/**** end ******************************************************************************/
.hide {
  display: none;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/**** start ********************** color ***********************************************/
/****************************************************************************************
/****************************************************************************************/
.text-first {
  color: #142452;
}

.text-second {
  color: #1ba4e3;
}

.text-third {
  color: #ff6e00;
}

.text-fourth {
  color: #9cd008;
}

.text-fifth {
  color: #171717;
}

.text-sixth {
  color: #fbfffe;
}

.bg-first {
  background-color: #142452;
}

.bg-second {
  background-color: #1ba4e3;
}

.bg-third {
  background-color: #ff6e00;
}

.bg-fourth {
  background-color: #9cd008;
}

.bg-fifth {
  background-color: #171717;
}

.bg-sixth {
  background-color: #fbfffe;
}

/**** start ********************** color ***********************************************/
/****************************************************************************************
/****************************************************************************************/
/**** start **********************formulaire***********************************************/
/****************************************************************************************
/****************************************************************************************/
.form-text-error {
  color: #ff6e00;
}

.form-border-error {
  border: 1px solid #ff6e00;
}

.form-border-valid {
  border: 1px solid #1ba4e3;
}

.form-bg-button-enabled {
  background-color: #1ba4e3;
}

.form-bg-button-unebled {
  background-color: #1ba4e3;
  opacity: 0.7;
}

.input {
  border: 1px solid #fbfffe;
  padding: 0.5em;
}

.btn-submit {
  padding: 0.5em;
  margin: 1.5em;
  border-radius: 1em;
}

/********  ****************  formulaire ************ ******************/
/**** end ******************************************************************************/
/****************************************************************************************





/****************************************************************************************
/********  **************** container-page   **************** ******************/
/**** start ******************************************************************************/
.container-page {
  position: relative;
  max-width: 1500px;
  min-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.container-page::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(40deg, #1ba4e3, 40%, #fbfffe);
  z-index: -2;
}

/****************************************************************************************
/********  **************** container-page  **************** ******************/
/**** end ******************************************************************************/
/****************************************************************************************
/********  **************** titre Hn  **************** ******************/
/**** start ******************************************************************************/
.h1,
.h2,
.h3 {
  color: #fbfffe;
}

.h1 {
  padding-left: 5%;
  font-family: "Source Code Pro", monospace;
  font-size: 25px;
  font-weight: 600;
  max-width: 70%;
  line-height: 120%;
}
@media screen and (min-width: 769px) {
  .h1 {
    font-size: 30px;
    max-width: 60%;
  }
}
@media screen and (min-width: 993px) {
  .h1 {
    font-size: 40px;
    max-width: 50%;
  }
}

.h2 {
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4em;
}
@media screen and (min-width: 769px) {
  .h2 {
    font-size: 25px;
  }
}
@media screen and (min-width: 993px) {
  .h2 {
    font-size: 30px;
  }
}

.h3 {
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4em;
}
@media screen and (min-width: 769px) {
  .h3 {
    font-size: 25px;
  }
}
@media screen and (min-width: 993px) {
  .h3 {
    font-size: 30px;
  }
}

.h4 {
  font-family: "Oxygen", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
}
@media screen and (min-width: 769px) {
  .h4 {
    font-size: 20px;
  }
}
@media screen and (min-width: 993px) {
  .h4 {
    font-size: 25px;
  }
}

/****************************************************************************************
/********  **************** titre Hn  **************** ******************/
/**** end ******************************************************************************/