/**************************************************************
*************  police pour le site *****************************
******************************************************************/
/*@font-face {
  font-family: "cantarel";
  src: url("../../../../Font/cantarel/Cantarell-Regular.ttf");
}

@font-face {
  font-family: "fjalla";
  src: url("../../../../Font/fjalla/Inter-Regular.ttf");
}*/
@font-face {
  font-family: "Oswald", sans-serif;
  src: url("../../../../Fonts/static/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Mulish", sans-serif;
  src: url("../../../../Fonts/static/Mulish-Regular.ttf");
}
@font-face {
  font-family: "Oxygen", sans-serif;
  src: url("../../../../Fonts/static/Oxygen-Regular.ttf");
}
@font-face {
  font-family: "Source Code Pro", monospace;
  src: url("../../../../Fonts/variable/SourceCodePro-VariableFont_wght.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Mulish", sans-serif;
  font-size: 1em;
  font-weight: 500;
}

.title {
  font-family: "Oswald", sans-serif;
}

.h1 {
  font-weight: 800;
  font-size: 2.5em;
  padding: 1em 0em;
}

.h2 {
  font-weight: 700;
  font-size: 1.5em;
}

.h3 {
  font-weight: 600;
  font-size: 1.3em;
}

.h3 {
  font-weight: 600;
  font-size: 1.2em;
}