@import "../../utils/mixins/responsive/responsive.scss";
@import "../../utils/colors-rule/colors-rule.scss";



//concerne les cartes prestations

.card-prestation {
  position:relative;
  z-index: 1;
  padding: 10px;
  width: 100%;
  //height: 500px;
  //background-color: lightgreen;
  margin: 50px 0px;
  
}

.card-prestation::after{
  content:"";
  position:absolute;
  top:0px;
  left: 0px;
  width: 100%;
  height:100%;
  z-index: -1;
  opacity:0.7;

}

.coaching-life::after{
  background-color: map-get($colors-rule, second-color);

}
.coaching-job::after{
  background-color: map-get($colors-rule, third-color);

}
.coaching-entreprise::after{
  background-color: map-get($colors-rule, fourth-color);

}

.card-prestation-title {
  position: relative;
  z-index: 1;
  top: -40px;
  left: 0%;
  width: 80%;
  min-height: 80px;
  padding: 10px;
  //margin-bottom: 0px;
  color: map-get($colors-rule, sixth-color);


  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: map-get($colors-rule, second-color);
    opacity: 0.9;

  }
}

.text-1 {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color: map-get($colors-rule, first-color);
  font-weight: 500;
  font-size: 18px;
  //backdrop-filter: brightNess(60%);
}

.card-prestation-image{
  position: relative;
  //z-index:1;
  width: 350px;
  height: 450px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;

  

}

//image carte pour coaching de vie

.card-1-1 {
  background-image: url("@/assets/image/page-prestation/equilibre.jpg");

  @include upper-large-screen{
    mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");

  }
  

}

.card-1-2 {
  background-image: url("@/assets/image/page-prestation/confiance-en-soi.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }

}

.card-1-3 {
  background-image: url("@/assets/image/page-prestation/gestion-emotion.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }

}

.card-1-4 {
background-image: url("@/assets/image/page-prestation/situations-difficiles.jpg");

  @include upper-large-screen {
    mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");

  }

}

.card-1-5 {
background-image: url("@/assets/image/page-prestation/conflit.jpg");

  @include upper-large-screen {
    mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");

  }

}

.card-1-6 {
  background-image: url("@/assets/image/page-prestation/gestion-temps.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }
}

//image card pour coachind de carriere

.card-2-1 {
  background-image: url(http://localhost:5173/src/assets/jared-rice-NTyBbu66_SI-unsplash-small.jpg);

}

.card-2-2 {
  background-image: url(http://localhost:5173/src/assets/jared-rice-NTyBbu66_SI-unsplash-small.jpg);

}

.card-2-3 {
  background-image: url(http://localhost:5173/src/assets/jared-rice-NTyBbu66_SI-unsplash-small.jpg);

}

//image card pour coaching entreprise
.card-3-1 {
  background-image: url(http://localhost:5173/src/assets/jared-rice-NTyBbu66_SI-unsplash-small.jpg);

}

.card-3-2 {
  background-image: url(http://localhost:5173/src/assets/jared-rice-NTyBbu66_SI-unsplash-small.jpg);

}

.card-3-3 {
  background-image: url(http://localhost:5173/src/assets/jared-rice-NTyBbu66_SI-unsplash-small.jpg);

}




.text-2 {
  position:relative;
  top: 60%;
  width: 100%;
  padding: 10px;
  font-weight: 600;
  color: map-get($colors-rule, sixth-color);
  backdrop-filter: blur(3px);

 }

.text-3 {
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  
  color: map-get($colors-rule, first-color);

  
}