@import "../../utils/mixins/responsive/responsive.scss";
@import "../../utils/colors-rule/colors-rule.scss";



//concerne les cartes prestations

.card-prestation {
  position:relative;
  z-index: 1;
  padding: 10px;
  width: 100%;
  //height: 500px;
  //background-color: lightgreen;
  margin: 50px 0px;

  @include upper-medium-screen{
    max-width: 600px;
  }
  
}

.card-prestation::after{
  content:"";
  position:absolute;
  top:0px;
  left: 0px;
  width: 100%;
  height:100%;
  z-index: -1;
  opacity:0.4;
  border-radius: 10px;

}

.coaching-life::after{
  //background-color: map-get($colors-rule, second-color);

  background: linear-gradient(-45deg, map-get($colors-rule, second-color),map-get($colors-rule, sixth-color));
}
.coaching-cariere::after{
  //background-color: map-get($colors-rule, third-color);
  background: linear-gradient(-45deg, map-get($colors-rule, third-color),map-get($colors-rule, sixth-color));
  
}
.coaching-entreprise::after{
  //background-color: map-get($colors-rule, fourth-color);
  background: linear-gradient(-45deg, map-get($colors-rule, fourth-color),map-get($colors-rule, sixth-color));
  
}

.card-prestation-title {
  position: relative;
  z-index: 1;
  top: -40px;
  left: 0%;
  width: 80%;
  min-height: 80px;
  padding: 10px;
  //margin-bottom: 0px;
  color: map-get($colors-rule, sixth-color);
  text-align: center;
  
  
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
   // background-color: map-get($colors-rule, second-color);
    opacity: 0.9;
    background: linear-gradient(45deg, map-get($colors-rule, second-color),map-get($colors-rule-darked-10, second-color));
    border-radius: 10px;
  }
}

.text-1 {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color: map-get($colors-rule, first-color);
  font-weight: 500;
  font-size: 18px;
  //backdrop-filter: brightNess(60%);
}

.card-prestation-image{
  position: relative;
  //z-index:1;
  width: 350px;
  height: 450px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;

@include upper-large-screen {
    width: 450px;
    height: 350px;
    left: -30%;
    box-shadow: 0px 0px 10px 0px map-get($colors-rule, first-color );
  }

}

//image carte pour coaching de vie

.card-1-1 {
  background-image: url("@/assets/image/page-prestation/equilibre.jpg");

  @include upper-large-screen{
    //mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");

  }
  

}

.card-1-2 {
  background-image: url("@/assets/image/page-prestation/confiance-en-soi.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-horizontal.svg");
  
    }

}

.card-1-3 {
  background-image: url("@/assets/image/page-prestation/gestion-emotion.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }

}

.card-1-4 {
background-image: url("@/assets/image/page-prestation/situations-difficiles.jpg");

  @include upper-large-screen {
    mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");

  }

}

.card-1-5 {
background-image: url("@/assets/image/page-prestation/conflit.jpg");

  @include upper-large-screen {
    mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");

  }

}

.card-1-6 {
  background-image: url("@/assets/image/page-prestation/gestion-temps.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }
}

//image card pour coachind de carriere

.card-2-1 {
  background-image: url("@/assets/image/page-prestation/competence.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }
}

.card-2-2 {
  background-image: url("@/assets/image/page-prestation/entretient-job.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }
}

.card-2-3 {
  background-image: url("@/assets/image/page-prestation/expatriation.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }
}
.card-2-4 {
  background-image: url("@/assets/image/page-prestation/retour-activite.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }
}
.card-2-5 {
  background-image: url("@/assets/image/page-prestation/depart-retraite.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }
}

//image card pour coaching entreprise
.card-3-1 {
  background-image: url("@/assets/image/page-prestation/entretient-job-2.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }
}

.card-3-2 {
  background-image: url("@/assets/image/page-prestation/competences-2.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }
}

.card-3-3 {
  background-image: url("@/assets/image/page-prestation/cohesion-equipe.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }
}
.card-3-4 {
  background-image: url("@/assets/image/page-prestation/nouveau-cadre.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }
}
.card-3-5 {
  background-image: url("@/assets/image/page-prestation/changement-organisationel-2.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }
}
.card-3-6 {
  background-image: url("@/assets/image/page-prestation/sante-au-travail.jpg");
  
    @include upper-large-screen {
      mask-image: url("@/assets/masque/blob-index-bar-oblique.svg");
  
    }
}




.text-2 {
  position:relative;
  z-index: 1;
  top: 100%;
  left: 0px;
  transform:translateY(-99%);
  width: 100%;
  padding: 10px;
  //font-weight: 600;
  color: map-get($colors-rule, sixth-color);
  //backdrop-filter: brightNess(30%);
  font-size: 18px;

  @include upper-large-screen{
    position: absolute;
    top: 50%;
    left: 80%;
    text-align: right;
    padding: 20px;
    
  }
  

 }
 .text-2::after{
  content:"";
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index: -1;
  background-color: map-get($colors-rule, fifth-color);
  opacity: 0.8;
  border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @include upper-large-screen{
      border-radius: 10px;
      //border: 5px solid map-get($colors-rule, sixth-color);
    border-left: 20px solid white;
    
    }
    }

.text-3 {
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  
  color: map-get($colors-rule, first-color);

  
}