/*************************************************************************************
********************* concerne les articles page index *********************************
**** start  ********************************************************************************/
@import "../colors-rule/colors-rule.scss";
@import "../mixins/responsive/responsive.scss";

.example {

  $image-1: url("/src/assets/image/page-index/what.jpg");
  $image-2: url("/src/assets/image/page-index/pense.jpg");
  $image-3: url("/src/assets/image/page-index/desert.jpg");

  .link-article {



    z-index: 1;
    max-width: 400px;
    width: 100%;
    max-height: 1000px;
    //border: 2px solid red;
    margin: 200px 0px;

    @include upper-medium-screen {
      max-width: 500px;
      //valeur debut transition
      opacity: 0.3;
      transform: translateX(-50%);
      transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    }

    @include upper-large-screen {
      max-width: 600px;
    }

  }

  //concerne la transition des elements "link-article"
  .visible {
    opacity: 1;
    transform: translateX(0%);

  }




  /* .link-article::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    //background-color: darken(map-get($colors-rule, second-color), 0%);
    //background-color: map-get($colors-rule, first-color);
    //opacity: 0.5;
    border-radius: 10px;
  } */

  .container-image {
    position: relative;
    //top: 0px;
    //left: 50%;
    width: 100%;
    //margin-left: 50%;
    //transform: translateX(-50%);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    //overflow: hidden;
  }

  .image-article {
    width: 100%;
    height: 300px;
    background-color: map-get($colors-rule, first-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //border-right: 2px solid darken(map-get($colors-rule, fourth-color), 5%);
    border-left: 2px solid darken(map-get($colors-rule, fourth-color), 5%);

    @include upper-medium-screen {
      height: 350px;
    }

    @include upper-large-screen {
      height: 400px;
    }


  }

  #img-1 {
    background-image: $image-1;
    mask-image:
      linear-gradient(180deg, rgba(0, 0, 0, 1), transparent),
      //url("/src/assets/masque/blob-index-bar-vert.svg"),
    ;

    background-position: bottom;
  }

  #img-2 {
    background-image: $image-2;
    mask-image: linear-gradient(0deg, rgba(0, 0, 0, 1), transparent),
      /* url("/src/assets/masque/blob-index-track.svg"), */
    ;
    //mask-image: ;
  }

  #img-3 {
    background-image: $image-3;
    mask-image: url("/src/assets/masque/blob-index-bar-horizontal.svg");
  }

  .title-article {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%);
    font-weight: 600;
    font-size: 25px;
    padding: 30px 10px 30px 10px;
    width: 100%;
    backdrop-filter: brightness(60%) blur(2px);
    background-color: darken(map-get($colors-rule, fourth-color), 5%);
    //opacity: 0.9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    //border-right: 2px solid darken(map-get($colors-rule, fourth-color), 5%);
    border-left: 2px solid darken(map-get($colors-rule, fourth-color), 5%);
  }

  /* .title-article::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    //box-shadow: inset 0px 0px 20px 0px map-get($colors-rule, first-color);
    background-color: map-get($colors-rule, first-color);
    border-radius: 10px;
    opacity: 0.8;

  } */

  .text-1,
  .text-2,
  .text-3 {
    margin: 20px 0px;
    line-height: 150%;
    text-align: left;
    font-size: 18px;
    // position: absolute
    //border: 2px solid red;
  }

  .text-1 {
    //transform: translateY(-50%);
    font-weight: 600;
    text-align: left;
    align-self: flex-start;
    width: 70%;
    color: map-get($colors-rule, sixth-color);

    @include upper-medium-screen {
      transform: translateX(-20%);
      font-size: 22px;
    }

  }


  /*  .container-text-card {
    width: 100%;

    background: linear-gradient(90deg, map-get($colors-rule, sixth-color), map-get($colors-rule, second-color));

  } */


  .container-text-2,
  .container-text-3 {
    .svg-card-index-arrow-right {
      display: none;

      @include upper-medium-screen {
        display: flex;
        width: 100px;
      }
    }

  }

  .container-text-2 {
    @include upper-medium-screen {


      transform: translateX(-20%);
    }
  }


  .text-2,
  .text-3 {
    @include upper-medium-screen {
      margin-left: 20px;

    }

    width: 100%;
    color: map-get($colors-rule, first-color);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: brightness(90%);
  }


  #img-text-3-1 {
    background-image: $image-1;
    background-position: bottom;
  }

  #img-text-3-2 {
    background-image: $image-2;
  }

  #img-text-3-3 {
    background-image: $image-3;
  }


}

.example-2 {
  width: 500px;
  height: 500px;
  background-image: url("/src/assets/image/page-index/abeille.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & .filtre-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    //z-index: 1;
    /* width: 250px;
    height: 250px; */
    transform: translate(-50%, -50%);
    //opacity: 0.9;
    //backdrop-filter: blur(5px);
    backdrop-filter: brightness(80%);
    //backdrop-filter: contrast(40%);
    //backdrop-filter: drop-shadow(20px 20px 10px blue);
    //backdrop-filter: grayscale(130%);
    //backdrop-filter: hue-rotate(120deg);
    // backdrop-filter: invert(70%);
    //backdrop-filter: opacity(80%);
    //backdrop-filter: sepia(90%);
    //backdrop-filter: saturate(80%);
    border: 2px solid red;
    //border-radius: 50%;
    color: pink;
    padding: 50px;
    text-align: center;
  }
}

.example-3 {
  width: 500px;
  height: 500px;
  background-image: url("/src/assets/image/page-index/pense.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: blur(5px);

  /* &.filtre-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    transform: translate(-50%, -50%);
    opacity: 1;
    backdrop-filter: grayscale(100%);
    border: 2px solid red;
    border-radius: 50%;
    color: pink;
  } */
}

.container-article {
  width: 100%;
  margin: 0px auto;
  //border: 2px solid red;

  /* @include upper-large-screen {
    width: 80%;
  } */
}

.svg-deco-point {
  position: absolute;
  top: -30%;
  left: -80%;

  clip-path: polygon(75% 6%, 98% 50%, 75% 94%, 0 94%, 25% 50%, 0 6%);
}

.index-article-container {

  position: relative;
  z-index: 5;
  width: 450px;
  height: 800px;
  margin: 50px 10%;
  border-radius: 10px;
  //border: 10px solid map-get($colors-rule, fourth-color);
  //box-shadow: 0px 0px 10px 0px map-get($colors-rule, fourth-color);

  @include upper-large-screen {
    max-width: 900px;
    width: 100%;
    height: 500px;
  }

  .index-container-content {
    flex: 0 1 100%;

    //border: 2px solid blue;
    @include upper-large-screen {
      flex-flow: row;
      justify-content: flex-end;
      flex: 0 1 100%;
    }
  }


  //concerne le titre du pseudo element

  .index-article-title {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 20%;
    font-size: 25px;
    text-align: center;
    //border: 2px solid red;
    overflow: hidden;
    font-weight: 600;
    color: map-get($colors-rule, first-color);


    @include upper-large-screen {
      font-size: 30px;
      //border-bottom: 4px solid map-get($colors-rule, second-color);
    }



    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: map-get($colors-rule, fourth-color);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      opacity: 0.9;

    }
  }

  .bg {
    &::after {
      background-color: map-get($colors-rule, third-color);

    }
  }




}

.index-container-content {
  position: relative;
  height: 80%;
  width: 100%;
  // overflow: hidden;
  //border: 2px solid green;
}

.div-style {
  height: 0%;
  width: 0%;

  @include upper-large-screen {

    height: 100%;
    flex: 1 1 20%;
    background-color: map-get($colors-rule, sixth-color);
    border-bottom-left-radius: 10px;
    //opacity: 0.7;
  }
}

.container-img {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;

  //masque sue image
  #img-1 {
    position: relative;
    //z-index: 0;
    height: 400px;
    width: 400px;


    background: linear-gradient(-45deg, map-get($colors-rule, third-color), map-get($colors-rule, sixth-color));
  }

  #img-1::after {
    content: "";
    position: absolute;
    //z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    //background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url("@/assets/desert.jpg");
    mask-image: url("/src/assets/blob/blob-index-masque.svg");

  }

  .message {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
  }

  @include upper-large-screen {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px lighten(black, 20%);





    .message {
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0px;
      height: 100%;
      width: 100%;
      font-size: 35px;
      text-align: center;
      color: map-get($colors-rule, first-color);
      font-weight: 600;

      transition: top 0.3s ease-in-out 0s;


      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 25%;
        left: 0px;
        height: 50%;
        width: 100%;
        background-color: map-get($colors-rule, fourth-color);
        opacity: 0.8;
      }

    }

    &:hover .message {
      top: 0%;
      //     border: 2px solid red;
    }
  }


}

.index-article-img {
  width: 100%;
  height: 100%;
  object-fit: cover;


}

.container-text {
  background-color: map-get($colors-rule, sixth-color);
  height: 50%;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  //border: 10px solid red;

  @include upper-large-screen {

    flex: 1 1 75%;
    height: 100%;
    border-bottom-left-radius: 0px;
    //border-top-left-radius: 10px;
  }

  .index-article-text {
    width: 100%;
    padding: 0px 10px;
    font-size: 18px;
    line-height: 150%;
    text-align: match-parent;
    //border: 2px solid pink;
    color: black;
    opacity: 0.8;

    @include upper-large-screen {
      font-size: 20px;
      width: 80%;
      align-self: flex-end;
    }
  }

  @keyframes opacity {
    0% {
      opacity: 0.2;
      transform: translate(0%, 5%);
    }

    33% {
      opacity: 0.3;
      transform: translate(5%, 0%);
    }

    66% {
      opacity: 0.2;
      transform: translate(0%, -5%);
    }


    100% {

      opacity: 0.3;
      transform: translate(-5%, 0%);
      //left: 50px;
    }


  }

  .icon-help {
    position: absolute;
    z-index: 1;
    top: -15%;
    left: 5%;

    width: 200px;
    height: 200px;
    opacity: 0.2;

    @include upper-large-screen {

      top: -10%;
      left: 80%;
      width: 200px;
      height: 200px;
      opacity: 0.2;
    }

  }

  .svg-animation-help {
    animation: opacity 15s ease-in-out 0s alternate infinite both;
  }
}


//decallage des articles en mode grand ecran
.align-right {
  @include upper-large-screen {
    align-self: flex-end;
  }
}

.align-left {
  @include upper-large-screen {
    align-self: flex-start;
  }
}

/*************************************************************************************
********************* concerne les articles page index***********************************
**** end  ********************************************************************************/