/*************************************************************************************
********************* concerne les articles page index *********************************
**** start  ********************************************************************************/
@import "../colors-rule/colors-rule.scss";
@import "../mixins/responsive/responsive.scss";

.page-index {

  .article-container{
    width: fit-content;
    //border: 2px solid red;
    margin: 50px 0px;
  }

  $image-1: url("/src/assets/image/page-index/what-3.jpg");
  $image-2: url("/src/assets/image/page-index/pense.jpg");
  $image-3: url("/src/assets/image/page-index/desert.jpg");
  $image-4: url("/src/assets/image/page-index/private.jpg");
  $image-5: url("/src/assets/image/page-index/engrenage.jpg");
  $image-6: url("/src/assets/image/page-index/abeille.jpg");
  $image-7: url("/src/assets/image/page-index/reussite.jpg");

  .link-article {
    z-index: 1;
    max-width: 400px;
    width: 100%;
    max-height: 1000px;
   // border: 2px solid orange;
    //margin: 50px 0px;
    border-radius: 10px;
    padding: 10px;
    
    
    @include upper-medium-screen {
      max-width: 500px;
      //valeur debut transition
      opacity: 0;
      transform: translateX(-50%);
      transition: box-shadow 0.25s linear, opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    }

    @include upper-large-screen {
      max-width: 600px;
      
    }

         @include upper-large-screen {
    
          &:hover .collapse {
            opacity: 1;
            transform: translateY(80%);
            transition: opacity 0.3s ease-in-out, transform 0.3s linear;
          }
        } 
    
  }
  
  .link-article:hover{
    @include upper-large-screen {
      
      transition: box-shadow 0.25s linear;
      box-shadow:  2px 2px 6px 0px map-get($colors-rule, sixth-color);
    }

  }

  //concerne la transition des elements "link-article"
  .transition-article {
    opacity: 1;
    transform: translateX(0%);

  }


  .container-image {
    position: relative;
    width: 100%;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    
    //border: 2px solid red;
  }

  .image-article {
    width: 100%;
    height: 300px;
    background-color: map-get($colors-rule, first-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

    @include upper-medium-screen {
      height: 350px;
    }

    @include upper-large-screen {
      height: 300px;
    }


  }

  #img-1 {
    background-image: $image-1;
    background-position: bottom;
  }

  #img-2 {
    background-image: $image-2;
    
  }

  #img-3 {
    background-image: $image-3;
    background-position: bottom;
    
  }
  #img-4 {
    background-image: $image-4;
    
  }
  #img-5 {
    background-image: $image-5;
    
  }
  #img-6 {
    background-image: $image-6;
    
  }
  #img-7 {
    background-image: $image-7;
    background-position: bottom;
    
  }

  .title-article {
    position: relative;
     z-index: 1;
    font-weight: 600;
    font-size: 25px;
    padding: 20px 10px 20px 10px;
    width: 100%;
    backdrop-filter: brightness(90%) blur(2px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    
    @include upper-medium-screen {
      font-size: 30px;
    }
    
    @include upper-large-screen {
      font-size: 35px;
    }
  }
  .title-article::after{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: map-get($colors-rule, fourth-color);
    opacity: 0.7;
    box-shadow: inset 0px 0px 20px map-get($colors-rule, sixth-color);
  }

  

  .collapse {
    position: absolute;
    bottom: 0px;
    right: -15%;
    z-index: 1;
    padding: 20px;
    font-size: 22px;
    color: map-get($colors-rule, sixth-color);
    transition: opacity 0.2s ease-in-out 0.2s, transform 0.2s linear 0.2s;
    opacity: 0;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    width: 200px;
    height: 200px;
    background-color: map-get($colors-rule, fourth-color);

    & p {
      text-align: center;
    }
  }

  


   
  .svg-object {
    width: 50px;

  }

  .text-1,
  .text-2,
  .text-3 {
    margin: 20px 0px;
    line-height: 150%;
    text-align: left;
    font-size: 18px;
    // position: absolute
    //border: 2px solid red;
  }

  .text-1 {
    font-weight: 600;
    text-align: left;
    align-self: flex-start;
    width: 100%;
    color: map-get($colors-rule, sixth-color);

    @include upper-medium-screen {
      transform: translateX(-20%);
      font-size: 22px;
    }
    
    @include upper-large-screen {
      font-size: 25px;
      min-height: 150px;
    }

  }




  .container-text-2,
  .container-text-3 {
    
    
    //background-color: map-get($colors-rule, sixth-color);
    @include upper-medium-screen {
      opacity: 0;
      transform: translateX(-50%);
      transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    }

    .svg-arrow-right {
      display: none;
      position:relative;
      z-index: 1;

      @include upper-medium-screen {
        display: flex;
        min-width: 100px;
        min-height: 100px;
        mask-image: url('/src/assets/svg/page-index/fleche/card-arrow-right.svg');
        mask-repeat: no-repeat;
        mask-size: contain;
        
        //box-shadow: inset 0px 0px 100px 0px map-get($colors-rule, fourth-color) ;
        
      }
    }
    .svg-arrow-right::after{
      content:"";
      position: absolute;
      top:0px;
      left: 0px;
      z-index: -1;
      width: 100%;
      height:100%;
      background-color: map-get($colors-rule, fourth-color);
      opacity: 0.7;
      box-shadow: inset 0px 0px 40px 1px map-get($colors-rule, sixth-color) ;
    }

  }

  

  .container-text-2 {
    @include upper-medium-screen {


      margin-left: -20%;
    }
  }

  .transition-text {
    opacity: 1;
    transform: translateX(0%);

  }


  .text-2,
  .text-3 {
    @include upper-medium-screen {
      margin-left: 20px;


    }

    width: 100%;
    color: map-get($colors-rule, fifth-color);
    padding: 10px;
    border-radius: 10px;
    //backdrop-filter: brightness(90%);
    background-color: map-get($colors-rule, sixth-color);
  }


  


}



.container-article {
  width: 100%;
  margin: 0px auto;
  //border: 2px solid red;

  /* @include upper-large-screen {
    width: 80%;
  } */
}

.svg-deco-point {
  position: absolute;
  top: -30%;
  left: -80%;

  clip-path: polygon(75% 6%, 98% 50%, 75% 94%, 0 94%, 25% 50%, 0 6%);
}

.index-article-container {

  position: relative;
  z-index: 5;
  width: 450px;
  height: 800px;
  margin: 50px 10%;
  border-radius: 10px;
  //border: 10px solid map-get($colors-rule, fourth-color);
  //box-shadow: 0px 0px 10px 0px map-get($colors-rule, fourth-color);

  @include upper-large-screen {
    max-width: 900px;
    width: 100%;
    height: 500px;
  }

  .index-container-content {
    flex: 0 1 100%;

    //border: 2px solid blue;
    @include upper-large-screen {
      flex-flow: row;
      justify-content: flex-end;
      flex: 0 1 100%;
    }
  }


  //concerne le titre du pseudo element

  .index-article-title {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 20%;
    font-size: 25px;
    text-align: center;
    //border: 2px solid red;
    overflow: hidden;
    font-weight: 600;
    color: map-get($colors-rule, first-color);


    @include upper-large-screen {
      font-size: 30px;
      //border-bottom: 4px solid map-get($colors-rule, second-color);
    }



    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: map-get($colors-rule, fourth-color);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      opacity: 0.9;

    }
  }

  .bg {
    &::after {
      background-color: map-get($colors-rule, third-color);

    }
  }




}

