@import "../utils/colors-rule/colors-rule.scss";
@import "../utils/mixins/responsive/responsive.scss";


   

    .articleN-image{
        width: 400px;
    }

    .articleN-text{
        line-height: 150%;
        margin: 10px 0px;
    }

    .articleN-list{

    }


