@import "../utils/colors-rule/colors-rule.scss";
@import "../utils/mixins/responsive/responsive.scss";

.page-article{
    .banner{
        width: 100%;
        height: 350px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("@/assets/image/page-article/coffe-book.jpg");

        @include upper-large-screen{
            height: 400px;
        }
    }

    .title-page{
        backdrop-filter:  brightness(60%) blur(2px);

        @include upper-large-screen{
            position: absolute;
            text-align: left;
            width: 30%;
            bottom: 20%;
            left: 5%;
        }

    }
        .lieu-des-prestations {
            position: relative;
            z-index: 1;
            color: map-get($colors-rule, sixth-color);
            font-size: 18px;
            padding: 20px;
            min-height: 200px;
            line-height: 150%;
            margin: 50px 0px;
    
            @include upper-large-screen {
                font-size: 25px;
            }
        }
    
        .lieu-des-prestations::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: map-get($colors-rule, first-color);
            //opacity: 0.8;
        }
}