//page avis

#banner-avis {
  padding: 1em;
  background-color: lightcyan;
}

.container-avis {
  position: relative;
  padding: 1em;
  border: 1px solid black;
  min-height: 100px;
}

.avis-avatar-img,
.avis-avatar-bis {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  border: 2px solid white;
  width: 80px;
  height: 80px;
}

.avis-avatar-bis {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  font-size: 2em;
  color: white;
  background-color: lightskyblue;
}

.avis-info-user {
  text-transform: capitalize;
}
