//feuille de style page dashboard
//import des fichiers utils
@import "../utils/colors-rule/colors-rule.scss";
@import "../utils/mixins/responsive/responsive.scss";


.container-page-dashboard {
  width: 100%;
  //padding: 1em;


}

.container-form {
  width: 100%;

  @include upper-medium-screen {
    width: 80%;
  }

  @include upper-large-screen {
    width: 60%;
  }

}