@import "../utils/colors-rule/colors-rule.scss";
@import "../utils/mixins/responsive/responsive.scss";




//container citation
.container-citation {
  position: relative;
  z-index: 0;
  top: -50px;

  color: darken(map-get($colors-rule, third-color), 20%);
  height: 300px;
  background-color: map-get($colors-rule, sixth-color);
  //clip-path: polygon(50% 37%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 15%, 100% 0, 100% 100%, 100% 85%, 0 100%, 0 0);


  .citation {
    font-size: 20px;
    margin: 0px 0px 0px 20px;
    font-weight: 600;
    line-height: 150%;

    @include upper-medium-screen {
      font-size: 25px;
    }



  }





  .author {
    font-size: 18px;

    margin: 20px 0px 0px 20px;
    font-weight: 600;

    @include upper-medium-screen {
      font-size: 20px;
    }


  }
}

.design-transition {
  height: 0px;
  width: 0%;
  overflow: hidden;

  @include upper-large-screen {
   
    height: 200px;
    width: 100%;
     border: none;
     clip-path: polygon(100% 0%, 100% 0, 100% 100%, 100% 40%, 0 100%, 0 0);
    opacity: 1;
  }

}

.container-transi {
  width: 100%;
  //font-size: 0px;
  background-color: red;
}

.transi-fourth-color {
  background-color: map-get($colors-rule, fourth-color);

}

.transi-second-color {
  background-color: map-get($colors-rule, second-color);

}

.transi-third-color {
  //background-color: darken(map-get($colors-rule, sixth-color), 10%);
  background-color: map-get($colors-rule, third-color);
  opacity: 1;

}

.transi-sixth-color {
  background-color: map-get($colors-rule, sixth-color);


}

.transi-rotate-z {
  transform: rotateZ(180deg);
}

.transi-rotate-x {
  transform: rotateX(180deg);
}



.svg-deco {
  position: absolute;
  bottom: -10%;


}

.svg-deco-1 {
  display: none;

  @include upper-large-screen {
    display: flex;
    right: -40%;
  }

}

.svg-deco-2 {
  display: none;

  @include upper-large-screen {
    display: flex;
    left: -60%;
    transform: rotateZ(90deg);
  }

}

.lieu-des-prestations {
  position: relative;
  z-index: 1;
  color: map-get($colors-rule, sixth-color);
  font-size: 18px;
  padding: 20px;
  min-height: 200px;
  line-height: 150%;
  margin: 50px 0px;

  @include upper-large-screen {
    font-size: 25px;
  }
}

.lieu-des-prestations::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: map-get($colors-rule, first-color);
  
}