@import "../utils/mixins/responsive/responsive.scss";
@import "../utils/colors-rule/colors-rule.scss";

.page-prestation {
  background-color: map-get($colors-rule, sixth-color);
}

.container-title-carousel {
  background-color: map-get($colors-rule, sixth-color);
  background: url("@/assets/image/tableau-opportunity.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-title {
  padding: 30px 0px 0px 30px;
  //border: 2px solid red;
  //color: map-get($colors-rule, first-color);

  @include upper-large-screen {

    padding: 30px 0px 0px 50px;
  }
}

.container-carousel {
  position: relative;

  @include upper-large-screen {

    height: 450px;
  }

  //background-color: map-get($colors-rule, first-color);
  //border: 2px solid transparent;
}

.carousel {
  @include upper-large-screen {
    margin-bottom: 100px;
  }

  .carousel-item {
    width: 400px;
    height: 300px;
    background-color: map-get($colors-rule, first-color);
    background-size: cover !important;
    background-position: center !important;
  }

  .title-slider {
    position: relative;
    z-index: 1;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

  .title-slider::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: map-get($colors-rule, fifth-color);
    opacity: 0.7;
  }

  #slider-1 {
    background: url("http://localhost:5173/src/assets/image/coaching-de-vie.jpg");
    border: 1px solid map-get($colors-rule, second-color);

    &>h2 {

      color: map-get($colors-rule, second-color);


    }
  }

  #slider-2 {
    background: url("http://localhost:5173/src/assets/image/coaching-de-cariere.jpg");
    border: 1px solid map-get($colors-rule, third-color);

    &>h2 {

      color: map-get($colors-rule, third-color);

    }
  }

  #slider-3 {
    background: url("http://localhost:5173/src/assets/image/coaching-en-entreprise.jpg");
    border: 1px solid map-get($colors-rule, fourth-color);

    &>h2 {

      color: map-get($colors-rule, fourth-color);

    }
  }
}

.arrow-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: fit-content;
  padding: 0px 30%;
  border: 2px solid transparent;

  @include upper-large-screen {
    bottom: 0px;
  }
}

#arrow-prev,
#arrow-next {
  padding: 10px;
}

.icon-arrow-slider {
  width: 40px;
  height: 40px;
  fill: #fbfffe;

  //stroke: #fbfffe;
  @include upper-small-screen {
    width: 80px;
    height: 80px;
  }

  @include upper-large-screen {
    width: 100px;
    height: 100px;
  }
}

.suite {
  margin-top: 50px;
}




.prestation {
  .title-prestation {
    position: relative;
    z-index: 1;

    align-self: flex-start;
    width: 100%;
    height: 150px;
    padding: 30px;
    color: map-get($colors-rule, sixth-color);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);

  }





  .intro-prestation {
    font-size: 18px;
    line-height: 150%;
    width: 100%;
    //background-color: map-get($colors-rule, first-color);
    padding: 50px;

  }
}

.container-card-prestation {
  width: 100%;


}


.hide {
  display: none;
}

.bg-color-vie {
  background-color: map-get($colors-rule, second-color);
}

.bg-color-cariere {
  background-color: map-get($colors-rule, third-color);
}

.bg-color-entreprise {
  background-color: map-get($colors-rule, fourth-color);
}


.lieu-des-prestations {
  position: relative;
  z-index: 1;
  color: map-get($colors-rule, sixth-color);
  font-size: 18px;
  padding: 20px;
  min-height: 200px;
  line-height: 150%;
  margin: 50px 0px;

  @include upper-large-screen {
    font-size: 25px;
  }
}

.lieu-des-prestations::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: map-get($colors-rule, first-color);
  //opacity: 0.8;
}