//feuille de style page "qui suis je"

//import des fichiers module
@import "../utils/colors-rule/colors-rule.scss";
@import "../utils/fonts/font.scss";
@import "../utils/mixins/responsive/responsive.scss";

.qui-suis-je {

  background: linear-gradient(to top, map-get($colors-rule, sixth-color), map-get($colors-rule, second-color));

  .introduction {
    position: relative;
    z-index: 1;
    width: 100%;

    @include upper-large-screen {

      min-height: 450px;

    }

    .bg-img {
      position: absolute;
      z-index: -1;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
    }

    .page-title {
      color: map-get($colors-rule, sixth-color);
      padding-left: 0px;
      margin: 40px 0px;
      font-size: 40px;

      @include upper-medium-screen {
        font-size: 45px;
      }

      @include upper-medium-screen {
        font-size: 50px;
      }
    }

    .intro-text {
      color: map-get($colors-rule, sixth-color);
    }
  }

  .introduction::after {
    content: "";
    position: absolute;
    z-index: -5;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: map-get($colors-rule, fifth-color);
    opacity: 1;
  }



  .article {
    //border: 2px solid red;
    //background-color: map-get($colors-rule, seventh-color);

    @include upper-large-screen {
      flex-flow: row;
      justify-content: space-around;
      align-items: center;
      margin: 50px 0px;
    }
  }

  & .container-card-resume {
    display: none;

    @include upper-large-screen {
      display: flex;
      width: 100%;
      position: relative;
      z-index: 2;
      opacity: 0.8;
      //border: 5px solid red;
      max-width: 50%;
      width: fit-content;
    }


  }

  .container-content {
    width: 100%;
    //border: 2px solid blue;

    @include upper-large-screen {
      //flex-flow: row;
      flex: 0 1 60%;

    }

    .value-list {
      flex-flow: row wrap;
      font-size: 18px;
      color: map-get($colors-rule, first-color);
      max-width: 90%;
      //border: 2px solid green;

      & li {
        margin-right: 15px;
        margin-bottom: 5px;
      }
    }

    .content-title {
      margin: 20px 0px;
      font-size: 25px;

      @include upper-medium-screen {
        font-size: 30px;
      }

      @include upper-large-screen {
        font-size: 35px;
        //width: 30%;
        //text-align: center;
      }
    }

    .content-text {
      width: 80%;
      font-size: 20px;
      line-height: 150%;
      margin: 40px 0px;


      @include upper-large-screen {
        width: 100%;
        font-size: 22px;
        padding: 15px 15px;
      }

    }
  }

  .container-content-head {
    @include upper-large-screen {
      flex-flow: row;
      flex: 1 1 60%;

    }

    .content-title-head {
      @include upper-large-screen {
        font-size: 35px;
        width: 30%;
        text-align: center;
      }
    }
  }

  .container-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    //border: 2px solid green;
    overflow: hidden;
    margin: 30px 0px;

    @include upper-large-screen {
      flex: 1 1 40%;
      height: 500px;
    }
  }

  .lieu-des-prestations {
    position: relative;
    z-index: 1;
    color: map-get($colors-rule, sixth-color);
    font-size: 18px;
    padding: 20px;
    min-height: 200px;
    line-height: 150%;
    margin: 50px 0px;

    @include upper-large-screen {
      font-size: 25px;
    }
  }

  .lieu-des-prestations::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: map-get($colors-rule, first-color);
    //opacity: 0.8;
  }

}