//page avis
@import "../utils/colors-rule/colors-rule.scss";
@import "../utils/mixins/responsive/responsive.scss";

.temoignage {
  background-color: map-get($colors-rule, sixth-color);
}

.testimonial-container-title {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 400px;
  background-color: map-get($colors-rule, first-color);

  @include upper-large-screen {
    height: 600px;
  }

  .testimonial-title {
    max-width: 100%;
    transform: translateY(50px);
    //border: 2px solid green;

    @include upper-large-screen {
      transform: translateY(150px);
      max-width: 70%;
    }
  }

  .testimonial-img-title {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;

    /*  @include upper-large-screen {
      object-fit: scale-down;
    } */
  }
}

.lieu-des-prestations {
  position: relative;
  z-index: 1;
  color: map-get($colors-rule, sixth-color);
  font-size: 25px;
  padding: 20px;
  height: 200px;
  line-height: 150%;
  margin: 50px 0px;
}

.lieu-des-prestations::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: map-get($colors-rule, first-color);
  //opacity: 0.8;
}